@{
  string announcementArea       = this.ViewData.ContainsKey("AnnouncementArea") ? this.ViewData["AnnouncementArea"].ToString() : string.Empty;
  string linkLabel              = this.ViewData.ContainsKey("LinkLabel") ? this.ViewData["LinkLabel"].ToString() : string.Empty;
}

<!-- Announcement -->
<div id="FooterAnnouncement" data-closable class="alert-box announcement callout warning">
  GoldSim 14 has been released!
  <a href="/Topic/12251" onclick="trackEvent(this, '@announcementArea Announcement Link', 'Click', '@linkLabel'); return false;">Learn more here</a>.
</div>

<!-- View Location: ~/Views/Shared/_Announcement.cshtml -->