<!-- Cookies Notice -->
<div id="CookiesNotice" data-closable class="alert-box notice callout primary hidden">

  This website uses cookies to ensure you get the best experience on our website. <a href="/Topic/4222/">Learn more</a>

  <button id="CookiesNoticeCloseButton" class="button primary close-button" aria-label="Dismiss alert" type="button">
    <span aria-hidden="true">Got it!</span>
  </button>

</div>

<!-- View Location: ~/Views/Shared/_CookiesNotice.cshtml -->