<div class="search form closed">
  <form id="SearchBarSearchForm" action="/Web/Search/">
    <!-- Search Input -->
    <div class="input">
      <input type="search" id="SearchBarSearchQuery" name="SearchText" />
    </div>
    <!-- Search Open / Close Button -->
    <label class="buttons" for="SearchBarSearchQuery">
      <button type="button" class="icon" aria-label="Search site"></button>
    </label>
  </form>
</div>

<!-- View Location: ~/Views/Shared/_SearchBar.cshtml -->