@model GoldSim.Web.Models.ContentTypes.ContentListTopicViewModel

@if (Model.IsIndexed) {
  <aside class="contents">
    <h1>@Model.IndexLabel</h1>
    <ul data-smooth-scroll data-offset="75">
      @if (Model.Categories != null && Model.Categories.Count > 0) {
        foreach (var category in Model.Categories.OrderBy(c => c)) {
          <li><a href="#@category.Key">@category.Title</a></li>
        }
      }
      else {
        foreach (var contentItem in Model.ContentItems) {
          <li><a href="#@contentItem.Key">@contentItem.Title</a></li>
        }
      }
    </ul>
  </aside>
}

<!--
  Content Type: ContentListTopicViewModel
  View Location: ~/Views/Shared/_TableOfContent.cshtml
-->