
@{
    ViewBag.Title = ViewBag.Topic.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Topic View</h2>

<h1>@ViewBag.Topic.Title</h1>
<h2>@ViewBag.Topic.Attributes.Get("Title")</h2>

<br>(~/Views/Topic/Index.cshtml)