//==============================================================================================
// LAYOUT
//----------------------------------------------------------------------------------------------
// Provides structural definitions for the site's layout, such grids, dimensions, positioning,
// z-indexes, margins, and padding.
//----------------------------------------------------------------------------------------------
// IMPORTANT: Skinning attributes such as font size, color, backgrounds, and gradients should
// not be defined in layout; these should be handled elsewhere (e.g., /Base) to maintain
// separation of concerns.
//----------------------------------------------------------------------------------------------
// NOTE: Since layout sections often map to exclusive parts of a page, it is acceptable to
// use #ID selectors here (and ONLY here).
//----------------------------------------------------------------------------------------------
// NOTE: Layouts in this file should be migrated to individual files under /Layout and imported
// if they get too long (say, over 10 selectors).
//==============================================================================================

//----------------------------------------------------------------------------------------------
// IMPORTS
//----------------------------------------------------------------------------------------------

//----------------------------------------------------------------------------------------------
// DOCUMENT
//----------------------------------------------------------------------------------------------
html {
  height                        : 100%;
}
body {
  position                      : relative;
  margin                        : 0;
  padding-bottom                : rem-calc(368);
  min-height                    : 100%;
  background-color              : $palette-grey-lightest;
}

//----------------------------------------------------------------------------------------------
// HEADER
//----------------------------------------------------------------------------------------------
#SiteHeader {
  padding                       : 0;
  height                        : rem-calc(100);
  color                         : $palette-black;
  background-color              : $palette-white;

  // (Foundation) Title Bar "Cells"
  div[class^="title-bar-"] {
    width                       : 33%;
  }

}

//----------------------------------------------------------------------------------------------
// NAVIGATION
//----------------------------------------------------------------------------------------------
#PrimaryNavigation {
  min-width                     : rem-calc(300);
  background-color              : $palette-black;
  @include breakpoint(large) {
    min-width                   : rem-calc(500);
  }

  // Submenu Toggle
  .submenu-toggle {
    top                         : rem-calc(20);
    right                       : rem-calc(24);
  }
  .nested {
    .submenu-toggle {
      top                       : rem-calc(-3);
    }
  }

}

//----------------------------------------------------------------------------------------------
// PRIMARY CONTENT AREA
//----------------------------------------------------------------------------------------------
#MainContentArea {
  padding-bottom                : rem-calc(48);
  background-color              : $palette-grey-lightest;
}

//----------------------------------------------------------------------------------------------
// FOOTER
//----------------------------------------------------------------------------------------------
#SiteFooter {
  position                      : absolute;
  right                         : 0;
  bottom                        : 0;
  left                          : 0;
  padding-top                   : rem-calc(54);
  padding-bottom                : rem-calc(24);
  max-height                    : rem-calc(368);
  color                         : $palette-grey-medium;
  background-color              : $palette-grey-dark;

  // Navigation
  nav {
    padding-bottom              : rem-calc(32);
  }

}