//==============================================================================================
// LAYOUT
//----------------------------------------------------------------------------------------------
// Provides structural definitions for the site's layout, such grids, dimensions, positioning,
// z-indexes, margins, and padding.
//----------------------------------------------------------------------------------------------
// IMPORTANT: Skinning attributes such as font size, color, backgrounds, and gradients should
// not be defined in layout; these should be handled elsewhere (e.g., /Base) to maintain
// separation of concerns.
//----------------------------------------------------------------------------------------------
// NOTE: Since layout sections often map to exclusive parts of a page, it is acceptable to
// use #ID selectors here (and ONLY here).
//----------------------------------------------------------------------------------------------
// NOTE: Layouts in this file should be migrated to individual files under /Layout and imported
// if they get too long (say, over 10 selectors).
//==============================================================================================

//----------------------------------------------------------------------------------------------
// IMPORTS
//----------------------------------------------------------------------------------------------

//----------------------------------------------------------------------------------------------
// DOCUMENT
//----------------------------------------------------------------------------------------------
html {
  height                        : 100%;
}
body {
  position                      : relative;
  margin                        : 0;
  padding-bottom                : 22rem;                        // 352px
  min-height                    : 100%;
  background-color              : $palette-grey-lightest;
}

//----------------------------------------------------------------------------------------------
// HEADER
//----------------------------------------------------------------------------------------------
#SiteHeader {
  height                        : 6.25rem;                      // 100px
  color                         : $palette-black;
  background-color              : $palette-white;

  // (Foundation) Title Bar "Cells"
  div[class^="title-bar-"] {
    width                       : 33%;
  }

}

//----------------------------------------------------------------------------------------------
// NAVIGATION
//----------------------------------------------------------------------------------------------
#PrimaryNavigation {
  min-width                     : 18.75rem;                     // 300px
  background-color              : $palette-black;
  @include breakpoint(large) {
    min-width                   : 31.25rem;                     // 500px;
  }
}

//----------------------------------------------------------------------------------------------
// PRIMARY CONTENT AREA
//----------------------------------------------------------------------------------------------
#MainContentArea {
  padding-bottom                : 3rem;                         // 48px
  background-color              : $palette-grey-lightest;
}

//----------------------------------------------------------------------------------------------
// FOOTER
//----------------------------------------------------------------------------------------------
#SiteFooter {
  position                      : absolute;
  right                         : 0;
  bottom                        : 0;
  left                          : 0;
  padding-top                   : 3.45rem;                      // ~ 55px
  padding-bottom                : 1.56rem;                      // ~ 25px
  max-height                    : 22rem;                        // 352px
  color                         : $palette-grey-medium;
  background-color              : $palette-grey-dark;

  // Navigation
  nav {
    padding-bottom              : 2rem;                         // ~ 32px
  }

}