@model NavigationViewModel<TrackedNavigationTopicViewModel>

@if (Model.NavigationRoot != null) {

  <!-- Left hand Navigation -->
  <nav role="navigation" class="lesson-list" style="float: left">
    <div class="grid-container">
      <div class="grid-x">
        <ol>
          @foreach (var topic in Model.NavigationRoot.Children) {
            <li>
              <span class="@topic.GetCssClass()"></span>
              <a href="@topic.WebPath">
                @(topic.ShortTitle?? topic.Title)
              </a>
            </li>
          }
        </ol>
      </div>
    </div>
  </nav>
  <!-- /Left hand Navigation -->

}

<!--
  Content Type: NavigationViewModel<TrackedNavigationTopicViewModel>
  View Location: ~/Views/Shared/Components/LessonList/Default.cshtml
-->