//==============================================================================================
// VARIABLES
//----------------------------------------------------------------------------------------------
// Primary customization point for making expected modifications to the site.
//----------------------------------------------------------------------------------------------
// NOTE: While these variables are meant to be specific to the GoldSim website styles, they may
// overlap with or supercede variables set in the GoldSim-specific Foundation settings
// (_foundationSettings.scss, which imports/inherits this file).
//==============================================================================================

//----------------------------------------------------------------------------------------------
// COLORS
//----------------------------------------------------------------------------------------------

// Base / palette colors
$palette-black                  : rgb(0, 0, 0);
$palette-white                  : rgb(255, 255, 255);
$palette-grey-dark              : rgb(102, 102, 102);         // #666666
$palette-grey-light             : rgb(204, 204, 204);         // #CCCCCC
$palette-grey-lighter           : rgb(227, 227, 227);         // #E3E3E3
$palette-grey-lightest          : rgb(243, 243, 243);         // #F3F3F3
$palette-yellow                 : rgb(254, 193, 13);          // #FEC10D
$palette-green                  : rgb(102, 174, 61);          // #66AE3D
$palette-salmon                 : rgb(235, 93, 98);           // #EB5D62
$palette-teal                   : rgb(0, 173, 239);           // #00ADEF

// Text
$text-color                     : $palette-black;
$link-color                     : $palette-black;
$link-text-decoration           : $palette-yellow;

// UI elements
$button-primary                 : $palette-yellow;

//----------------------------------------------------------------------------------------------
// BASE/GENERAL
//----------------------------------------------------------------------------------------------

//----------------------------------------------------------------------------------------------
// LAYOUT
//----------------------------------------------------------------------------------------------

//----------------------------------------------------------------------------------------------
// COMPONENTS
//----------------------------------------------------------------------------------------------
