//==============================================================================================
// STYLE
//----------------------------------------------------------------------------------------------
// Primary entry point for application. Imports all other manifest files, including variables.
//==============================================================================================

//----------------------------------------------------------------------------------------------
// IMPORT VARIABLES
//----------------------------------------------------------------------------------------------
// NOTE: When possible, all changes should be made to variables. Only when that is not practical
// should changes be made elsewhere.
//----------------------------------------------------------------------------------------------
// @import "variables";

//----------------------------------------------------------------------------------------------
// IMPORT FONTS
//----------------------------------------------------------------------------------------------
@import url('https://fonts.googleapis.com/css?family=Oxygen:400,700');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,700,700i');

//----------------------------------------------------------------------------------------------
// IMPORT EXTERNAL LIBRARIES
//----------------------------------------------------------------------------------------------
@charset "utf-8";
@import "Vendor/Zurb/foundation";
@include foundation-everything;

//----------------------------------------------------------------------------------------------
// TEMPORARY STYLES
//----------------------------------------------------------------------------------------------
body {
  font-family                   : 'Source Sans Pro', sans-serif;
  font-weight                   : 400;
}
h1, h2, h3, h4, h5, h6 {
  font-family                   : 'Oxygen', 'Source Sans Pro', sans-serif;
  font-weight                   : 700;
}