//==============================================================================================
// MENU
//----------------------------------------------------------------------------------------------
// Defines styles associated with with the primary navigation (Foundation off-canvas) menu.
//----------------------------------------------------------------------------------------------
// NOTE: If this component requires its own helpers, they should be defined in a separate
// _placeholders.scss, _mixins.scss, or _functions.scss file and imported here.
//==============================================================================================

//----------------------------------------------------------------------------------------------
// IMPORTS
//----------------------------------------------------------------------------------------------

//----------------------------------------------------------------------------------------------
// VARIABLES
//----------------------------------------------------------------------------------------------

//----------------------------------------------------------------------------------------------
// COMMON
//----------------------------------------------------------------------------------------------

// Toggles (open and close)
button {
  &.menu-icon {
    width                       : 2rem;
    height                      : 1.5rem;
    color                       : $palette-black;
  }
  &.close-button {
    @include disable-mouse-outline;
    outline-width               : 0;
  }
}

//----------------------------------------------------------------------------------------------
// COMMON
//----------------------------------------------------------------------------------------------

//----------------------------------------------------------------------------------------------
// CORE
//----------------------------------------------------------------------------------------------

// Menu Toggle
.title-bar {
  .menu-icon {
    margin-left                 : rem-calc(40);
  }
}

// Menu
nav.navigation.primary {
  background-color              : $palette-black;

  // close button
  button.close-button {
    top                         : rem-calc(32);
    right                       : auto;
    left                        : rem-calc(32);
    font-size                   : rem-calc(52);
    color                       : $palette-white;
  }

  // nested menu toggle
  button.submenu-toggle {
    &:after {
      border-top-color          : $palette-white;
    }
  }

  // navigation items
  ul.menu {
    top                         : rem-calc(96);
    padding-left                : rem-calc(32);
    @include breakpoint(large) {
      top                       : 0;
      padding-top               : rem-calc(10);
      padding-left              : 0;
    }
    li {
      font-family               : $header-font-family;
      font-size                 : rem-calc(30);
      font-weight               : $header-font-weight;
      a,
      a:hover,
      a:focus,
      a:active {
        padding                 : rem-calc(9 16);
        color                   : $palette-white;
      }
      a.selected {
        color                   : $palette-yellow;
      }
    }
    &.dropdown {
      > li {
        padding-left            : 0;
        height                  : rem-calc(48);
        &.is-dropdown-submenu-parent {
          padding-right         : rem-calc(96);
          &:last-of-type {
            padding-right       : 0;
          }
          > a {
            &:after {
              display           : none;
            }
          }
        }
      }
    }
    &.nested {
      top                       : rem-calc(6);
      margin-left               : 0;
      border                    : 0 none transparent;
      padding-bottom            : rem-calc(32);
      padding-left              : rem-calc(8);
      @include breakpoint(large) {
        top                     : rem-calc(64);
        padding-left            : 0;
        background-color        : rgba($palette-black, 0.85);
      }
      li {
        margin-bottom           : 0;
        font-size               : rem-calc(18);
        font-weight             : 600;
        a {
          padding               : rem-calc(8 18);
        }
      }
      ul.nested {
        top                     : 0;
        padding-left            : rem-calc(16);
        @include breakpoint(large) {
          top                   : rem-calc(-10);
          padding-left          : 0;
          li {
            font-weight         : normal;
          }
        }
      }
    }
    &:not(.submenu) > li > ul.nested {
      margin-bottom             : rem-calc(32);
    }
  }

}
