//==============================================================================================
// ADMINISTRATION
//----------------------------------------------------------------------------------------------
// Represents styles specific to administration pages.
//==============================================================================================

//----------------------------------------------------------------------------------------------
// IMPORTS
//----------------------------------------------------------------------------------------------
// NOTE: It is expected that this page will co-exist with the centralized stylesheet and,
// therefore, it is not necessary that it reimport shared styles. It may, however, need to
// import variables and helpers.
//----------------------------------------------------------------------------------------------
@import "variables";
@import "foundationSettings";

//----------------------------------------------------------------------------------------------
// BUTTONS
//----------------------------------------------------------------------------------------------
.actions {
  &.top {
    position                    : relative;
    margin-top                  : -40px;
  }
}

//----------------------------------------------------------------------------------------------
// TABLES
//----------------------------------------------------------------------------------------------
/* General */
.ext-mb-text {
  color                         : rgb(51, 51, 51);
}

#PageContentArea + div {
  display                       : none;
}

/* Requests Table */
div.dataTables_wrapper {
  padding-top                   : 25px;
}

.dataTables_filter {
  display                       : none;
}

.dataTables_wrapper .dataTables_paginate {

  .paginate_button {
    border-radius               : 0;
    padding                     : 0.25em 0.5em;

    &.disabled {
      color                     : $palette-grey-light !important;
    }

    &.current,
    &.current:hover {
      background                : none;
      border-color              : rgb(51, 51, 51);
    }

    &:hover {
      background                : rgb(77, 77, 77);
      border-color              : rgb(51, 51, 51);
    }

  }

  &.paging_simple_numbers {
    padding-top                 : 15px;
  }

}

table.dataTable thead {
  th,
  td {
    padding                     : 10px;
  }
  .sorting {
    background-image            : url('/Images/Icons/Sort.Both.png');
  }
  .sorting_asc {
    background-image            : url('/Images/Icons/Sort.Ascending.png');
  }
  .sorting_desc {
    background-image            : url('/Images/Icons/Sort.Descending.png');
  }
}

/* Hover state */
tr.record[data-href]:hover td:not(.js-no-click) {
  background-color              : $palette-yellow;
  cursor                        : pointer;
}