//==============================================================================================
// HOME
//----------------------------------------------------------------------------------------------
// Represents styles specific to the GoldSim homepage.
//==============================================================================================

//----------------------------------------------------------------------------------------------
// IMPORTS
//----------------------------------------------------------------------------------------------
// NOTE: It is expected that this page will co-exist with the centralized stylesheet and,
// therefore, it is not necessary that it reimport shared styles. It may, however, need to
// import variables and helpers.
//----------------------------------------------------------------------------------------------
  @import "../variables";
  @import "../foundationSettings";

//----------------------------------------------------------------------------------------------
// LAYOUT
//----------------------------------------------------------------------------------------------
main {
  > section > header {
    padding                     : rem-calc(80 0);
    .video {
    //max-width                 : 33.4375rem;                   // 535px
      background-color          : $palette-white;
    }
  }
  > article {
    padding                     : rem-calc(80 0 32);
  }
  section[role="region"] {
    margin-bottom               : rem-calc(80);
    &:last-child {
      margin-bottom             : 0;
    }
  }
}

//----------------------------------------------------------------------------------------------
// SKIN
//----------------------------------------------------------------------------------------------

// Pane/Panel Headings and Text
.pane,
.panel {
  header {
    h1 {
      margin-bottom             : rem-calc(32);
    }
  }
}
.pane {

  header {
    h1 {
      padding                   : rem-calc(0 110);
    }
  }

  // Applications
  &.applications {
    h2 {
      margin                    : rem-calc(28) auto rem-calc(20);
      font-size                 : rem-calc(24);
      font-weight               : normal;
      text-align                : center;
    }
    p.text {
      margin-bottom             : rem-calc(48);
      padding                   : rem-calc(0 110);
    }
  }

  // CTAs
  &.cta-links {
    p.text {
      padding                   : rem-calc(0 110);
      ~ p.text {
        margin-bottom           : rem-calc(48);
      }
    }
  }

}
.panel {

  // Introduction
  &.introduction {
    padding-right               : rem-calc(428);
    background                  : $palette-white url('/Images/Home/Introduction.Background.png') no-repeat bottom right;
    background-size             : contain;
  }

  // Customers
  &.customers {
    position                    : relative;
    padding-right               : rem-calc(540);
    background                  : $palette-white url('/Images/Home/Customers.Background.png') no-repeat 325% -1rem;
    background-size             : contain;
    > header {
      padding-right             : rem-calc(32);
    }
    aside {
      position                  : absolute;
      top                       : 0;
      right                     : 0;
      bottom                    : auto;
      overflow                  : hidden;
      padding                   : rem-calc(0 110);
      height                    : 100%;
      font-size                 : rem-calc(30);
      font-weight               : 600;
      color                     : $palette-yellow;
      text-align                : center;
      div {
        position                : relative;
      }
    }
  }

  // CTAs
  &.cta-links {
    padding-right               : rem-calc(320);
    background                  : $palette-white url('/Images/Home/CTAs.Background.png') no-repeat 115% -8rem;
  }

}

// Usage
.usage {
  .orbit-container {
    margin                      : rem-calc(0 110);
  }
  .orbit-controls {
    button {
      color                     : lighten($palette-black, 44.5%);       // #959595
      cursor                    : pointer;
      &:hover,
      &:focus,
      &:active {
        background-color        : transparent;
      }
    }
    .orbit-previous {
      left                      : rem-calc(28);
    }
    .orbit-next {
      right                     : rem-calc(28);
    }
  }
  .carousel-wrapper {
    position                    : relative;
    max-width                   : rem-calc(960);
  }
  .owl-nav {
    position                    : absolute;
    top                         : 0;
    right                       : 0;
    bottom                      : 0;
    left                        : 0;
    .owl-prev,
    .owl-next {
      z-index                   : 10;
      display                   : inline-block;
      position                  : absolute;
      top                       : 0;
      bottom                    : 0;
      width                     : rem-calc(110);
      background                : $palette-grey-lightest;
      &.disabled {
        i.fa {
          display               : none;
        }
      }
      i.fa {
        position                : absolute;
        top                     : 40%;
        font-size               : rem-calc(24);
        color                   : lighten($palette-black, 44.5%);       // #959595
      }
    }
    .owl-prev {
      left                      : 0;
      i.fa {
        left                    : rem-calc(42);
      }
    }
    .owl-next {
      right                     : 0;
      i.fa {
        right                   : rem-calc(42);
      }
    }
  }
  .owl-item {
    padding                     : rem-calc(0 110);
  }
  li {
    padding-left                : 0;
  }
  h2 {
    font-family                 : $body-font-family;
    font-size                   : $body-text-size;
    font-weight                 : 600;
  }
  .text {
    padding-right               : rem-calc(40);
  }
  .screenshot {
    min-height                  : 320px;
    height                      : 100%;
    border                      : 2px solid $palette-grey-lighter;
  }
}

// Applications Cards
.applications {
  .card {
    margin-bottom               : 0;
    padding                     : rem-calc(198 1 0 1);
    background-size             : contain;
    background-position         : center top;
    background-repeat           : no-repeat;
    &.environmental {
      background-image          : url('/Images/Content/Product/CT/CT_400px.png');
    }
    &.engineered {
      background-image          : url('/Images/Content/Product/RL/RL_400px.png');
    }
    &.business {
      background-image          : url('/Images/Content/Product/FN/FN_400px.png');
    }
    picture {
      overflow                  : hidden;
      width                     : 100%;
      height                    : 100%;
      max-height                : rem-calc(225);
      img {
        width                   : 100%;
      }
    }
    ul {
      list-style-type           : none;
      margin                    : rem-calc(0);
      padding-bottom            : rem-calc(32);
      li {
        margin-bottom           : 0;
        padding                 : 0;
        line-height             : 1.11;
        a {
          display               : block;
          padding               : rem-calc(16 28);
          font-weight           : normal;
          border                : 0 none transparent;
          &:hover,
          &:focus,
          &:active {
            color               : $body-font-color;
            background-color    : $palette-yellow;
          }
          &:visited {
            color               : $body-font-color;
          }
        }
        &:first-child {
          a {
            margin-top          : rem-calc(-16);
          }
        }
        &:last-child {
          a {
            margin-bottom       : rem-calc(-16);
          }
        }
      }
    }
  }
}

// CTAs
.cta-links {
  .button {
    box-shadow                    : 0 0 9px 2px rgba(0, 0, 0, 0.07);
  }
}

//----------------------------------------------------------------------------------------------
// OVERRIDES
//----------------------------------------------------------------------------------------------

// Typography
h1.title {
  &.short {
    position                    : static;
    padding-bottom              : rem-calc(8);
    font-size                   : rem-calc(30);
    color                       : $palette-grey-light;
  }
  &.long {
    margin-bottom               : rem-calc(44);
    color                       : $palette-white;
  }
}