//==============================================================================================
// HOME
//----------------------------------------------------------------------------------------------
// Represents styles specific to the GoldSim homepage.
//==============================================================================================

//----------------------------------------------------------------------------------------------
// IMPORTS
//----------------------------------------------------------------------------------------------
// NOTE: It is expected that this page will co-exist with the centralized stylesheet and,
// therefore, it is not necessary that it reimport shared styles. It may, however, need to
// import variables and helpers.
//----------------------------------------------------------------------------------------------
  @import "../variables";

//----------------------------------------------------------------------------------------------
// LAYOUT
//----------------------------------------------------------------------------------------------
main {
  > section > header,
  > article {
    padding                     : 3rem 0;
  }
  > section > header {
    .video {
      max-width                 : 33.4375rem;                   // 535px
      background-color          : $palette-white;
    }
  }
}


//----------------------------------------------------------------------------------------------
// SKIN
//----------------------------------------------------------------------------------------------
.panel {

  // Introduction
  &.introduction {
    padding-right               : 26.75rem;                     // 428px
    background                  : $palette-white url('/Images/Home/Introduction.Background.png') no-repeat bottom right;
  }

}

//----------------------------------------------------------------------------------------------
// OVERRIDES
//----------------------------------------------------------------------------------------------

// Typography
h1.title {
  &.short {
    position                    : static;
    padding-bottom              : 0.5rem;                       // 8px
    font-size                   : 1.875rem;                     // 30px
    color                       : $palette-grey-light;
  }
  &.long {
    margin-bottom               : 2.75rem;                      // 44px
    color                       : $palette-white;
  }
}