main > article[itemprop="mainContentOfPage"] {
  padding: 0 0 2rem; }
  @media print, screen and (min-width: 40em) {
    main > article[itemprop="mainContentOfPage"] {
      padding: 5rem 0 2rem; } }

main > section > header {
  padding: 3rem 2.25rem; }
  @media print, screen and (min-width: 64em) {
    main > section > header {
      padding: 5rem 0; } }
  main > section > header .video {
    background-color: white; }

main > article {
  padding: 5rem 0 2rem; }

main section[role="region"] {
  margin-bottom: 2rem; }
  @media print, screen and (min-width: 40em) {
    main section[role="region"] {
      margin-bottom: 5rem; } }
  main section[role="region"]:last-child {
    margin-bottom: 0; }

.pane header h1,
.panel header h1 {
  margin-bottom: 2rem;
  text-align: center; }
  @media print, screen and (min-width: 40em) {
    .pane header h1,
    .panel header h1 {
      text-align: left; } }

.pane header h1 {
  text-align: center; }
  @media print, screen and (min-width: 40em) {
    .pane header h1 {
      padding: 0 6.875rem;
      text-align: left; } }

.pane p.text {
  padding: 0 2.25rem; }
  @media print, screen and (min-width: 40em) {
    .pane p.text {
      padding: 0 6.875rem; } }

.pane.applications h2 {
  margin: 1.75rem auto 1.25rem;
  font-size: 1.5rem;
  font-weight: normal;
  text-align: center; }

.pane.applications p.text {
  margin-bottom: 3rem; }

.pane.cta-links p.text ~ p.text {
  margin-bottom: 3rem; }

.panel.introduction {
  padding-right: 2.25rem;
  padding-left: 2.25rem;
  padding-bottom: 13.875rem;
  background: white url("/Images/Home/Introduction.SmallScreen.Background.png") no-repeat bottom right;
  background-size: 90%; }
  @media print, screen and (min-width: 40em) {
    .panel.introduction {
      padding-right: 6.875rem;
      padding-bottom: 24.5rem;
      padding-left: 6.875rem;
      background-size: 85%; } }
  @media print, screen and (min-width: 64em) {
    .panel.introduction {
      padding-right: 25.9375rem;
      padding-bottom: 5rem;
      background: white url("/Images/Home/Introduction.Background.png") no-repeat bottom right;
      background-size: contain; } }

.panel.customers {
  position: relative;
  padding-bottom: 9.875rem;
  background-image: url("/Images/Home/Customers.Background.png");
  background-position: 100% 100%;
  background-size: contain;
  background-repeat: no-repeat; }
  @media print, screen and (min-width: 40em) {
    .panel.customers {
      padding-bottom: 19.3125rem; } }
  @media print, screen and (min-width: 64em) {
    .panel.customers {
      padding-right: 33.75rem;
      padding-bottom: 5rem;
      background-position: 125% 0;
      background-size: 75%; } }
  .panel.customers > header {
    padding-right: 2rem; }
  .panel.customers aside {
    position: absolute;
    top: 0;
    right: 0;
    bottom: auto;
    overflow: hidden;
    padding: 0 6.875rem;
    height: 100%;
    font-size: 1.875rem;
    font-weight: 600;
    color: #fec10d;
    text-align: center; }
    .panel.customers aside div {
      position: relative; }

.panel.cta-links {
  padding-right: 20rem;
  background: white url("/Images/Home/CTAs.Background.png") no-repeat 115% -8rem; }

.usage .carousel-wrapper {
  position: relative;
  max-width: 100vmin; }
  @media print, screen and (min-width: 64em) {
    .usage .carousel-wrapper {
      max-width: 60rem; } }

.usage .owl-nav {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }
  .usage .owl-nav .owl-prev,
  .usage .owl-nav .owl-next {
    z-index: 10;
    display: inline-block;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 2.25rem;
    background: #f3f3f3; }
    @media print, screen and (min-width: 40em) {
      .usage .owl-nav .owl-prev,
      .usage .owl-nav .owl-next {
        width: 6.875rem; } }
    .usage .owl-nav .owl-prev.disabled i.fa,
    .usage .owl-nav .owl-next.disabled i.fa {
      display: none; }
    .usage .owl-nav .owl-prev i.fa,
    .usage .owl-nav .owl-next i.fa {
      position: absolute;
      top: 0;
      font-size: 2rem;
      color: #919191; }
      @media print, screen and (min-width: 64em) {
        .usage .owl-nav .owl-prev i.fa,
        .usage .owl-nav .owl-next i.fa {
          top: 40%; } }
  .usage .owl-nav .owl-prev {
    left: 0; }
    .usage .owl-nav .owl-prev i.fa {
      left: 2.25rem; }
      @media print, screen and (min-width: 40em) {
        .usage .owl-nav .owl-prev i.fa {
          left: 2.625rem; } }
  .usage .owl-nav .owl-next {
    right: 0; }
    .usage .owl-nav .owl-next i.fa {
      right: 2.25rem; }
      @media print, screen and (min-width: 40em) {
        .usage .owl-nav .owl-next i.fa {
          right: 2.625rem; } }

.usage .owl-item {
  padding: 0 2.25rem; }
  @media print, screen and (min-width: 40em) {
    .usage .owl-item {
      padding: 0 6.875rem; } }
  .usage .owl-item p:last-of-type {
    margin-bottom: 0; }

.usage li {
  padding-left: 0; }

.usage h2 {
  margin-bottom: 1rem;
  padding: 0 2.25rem;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1.125rem;
  font-weight: 600;
  text-align: center; }
  @media print, screen and (min-width: 40em) {
    .usage h2 {
      padding: 0;
      text-align: left; } }

.usage .screenshot {
  padding: 1rem 0 0;
  height: 100%;
  text-align: right; }
  @media print, screen and (min-width: 40em) {
    .usage .screenshot {
      padding: 0 0 0 2.5rem; } }
  .usage .screenshot img {
    border: 1px solid #e3e3e3;
    max-width: 20.5625rem; }

.applications .card {
  margin: 0 2.25rem 0.875rem;
  padding: 13.375rem 0 0;
  background-size: contain;
  background-position: center top;
  background-repeat: no-repeat; }
  @media print, screen and (min-width: 40em) {
    .applications .card {
      margin: 0;
      padding: 9.4375rem 0 0; } }
  @media print, screen and (min-width: 64em) {
    .applications .card {
      padding: 12.375rem 0 0; } }
  .applications .card.environmental {
    background-image: url("/Images/Content/Product/CT/CT_400px.png"); }
  .applications .card.engineered {
    background-image: url("/Images/Content/Product/RL/RL_400px.png"); }
  .applications .card.business {
    background-image: url("/Images/Content/Product/FN/FN_400px.png"); }
  .applications .card picture {
    overflow: hidden;
    width: 100%;
    height: 100%;
    max-height: 14.0625rem; }
    .applications .card picture img {
      width: 100%; }
  .applications .card ul {
    list-style-type: none;
    margin: 0;
    padding-bottom: 2rem; }
    .applications .card ul li {
      margin-bottom: 0;
      padding: 0;
      line-height: 1.11; }
      .applications .card ul li a {
        display: block;
        padding: 1rem 1.75rem;
        font-weight: normal;
        border: 0 none transparent; }
        .applications .card ul li a:hover, .applications .card ul li a:focus, .applications .card ul li a:active {
          color: #202020;
          background-color: #fec10d; }
        .applications .card ul li a:visited {
          color: #202020; }
      .applications .card ul li:first-child a {
        margin-top: -1rem; }
      .applications .card ul li:last-child a {
        margin-bottom: -1rem; }

.cta-links .cell {
  padding: 0 2.25rem;
  text-align: center; }
  @media print, screen and (min-width: 40em) {
    .cta-links .cell {
      padding: 0; } }
  .cta-links .cell:first-of-type .button {
    margin-bottom: 1.125rem; }
  @media print, screen and (min-width: 64em) {
    .cta-links .cell:first-of-type .button {
      margin-bottom: 0; } }

.cta-links .button {
  margin-bottom: 0;
  -webkit-box-shadow: 0 0 9px 2px rgba(0, 0, 0, 0.07);
          box-shadow: 0 0 9px 2px rgba(0, 0, 0, 0.07);
  width: 100%; }
  @media print, screen and (min-width: 40em) {
    .cta-links .button {
      width: auto; } }

h1.title.short {
  position: static;
  padding-bottom: 0.5rem;
  font-size: 1.125rem;
  color: #cccccc; }
  @media print, screen and (min-width: 40em) {
    h1.title.short {
      font-size: 1.3125rem; } }
  @media print, screen and (min-width: 64em) {
    h1.title.short {
      font-size: 1.875rem; } }

h1.title.long {
  margin-bottom: 2.75rem;
  color: white; }
