main > article[itemprop="mainContentOfPage"] {
  padding: 0 0 2rem; }
  @media print, screen and (min-width: 64em) {
    main > article[itemprop="mainContentOfPage"] {
      padding: 5rem 0 2rem; } }

main > section > header {
  padding: 3rem 2.25rem; }
  @media print, screen and (min-width: 64em) {
    main > section > header {
      padding: 5rem 0; } }
  main > section > header .grid-container {
    max-height: initial; }
  main > section > header .video.preview {
    display: table-cell;
    width: 34.5625rem;
    height: 19.4375rem;
    text-align: center;
    vertical-align: middle;
    background: transparent url("/Images/Home/Video.png") no-repeat center center;
    background-size: contain;
    cursor: pointer; }
    main > section > header .video.preview::before, main > section > header .video.preview::after {
      display: table;
      content: ' ';
      -ms-flex-preferred-size: 0;
          flex-basis: 0;
      -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1; }
    main > section > header .video.preview::after {
      clear: both; }
    main > section > header .video.preview i,
    main > section > header .video.preview img {
      display: inline-block; }
    main > section > header .video.preview i {
      font-size: 89px;
      color: white; }

main > article {
  padding: 5rem 0 2rem; }

@media print, screen and (min-width: 64em) {
  main .header.js-full-height {
    min-height: 49.375rem; } }

main section[role="region"] {
  margin-bottom: 2rem; }
  @media print, screen and (min-width: 40em) {
    main section[role="region"] {
      margin-bottom: 5rem; } }
  main section[role="region"]:last-child {
    margin-bottom: 0; }

.pane header h1,
.panel header h1 {
  margin-bottom: 2rem;
  text-align: center; }
  @media print, screen and (min-width: 40em) {
    .pane header h1,
    .panel header h1 {
      text-align: left; } }

.pane header h1 {
  text-align: center; }
  @media print, screen and (min-width: 40em) {
    .pane header h1 {
      padding: 0 6.875rem;
      text-align: left; } }

.pane p.text {
  padding: 0 2.25rem; }
  @media print, screen and (min-width: 40em) {
    .pane p.text {
      padding: 0 6.875rem; } }

.pane.applications h2 {
  margin: 1.75rem auto 1.25rem;
  font-size: 1.25rem;
  font-weight: normal;
  text-align: center; }
  @media print, screen and (min-width: 64em) {
    .pane.applications h2 {
      font-size: 1.5rem; } }

.pane.applications p.text {
  margin-bottom: 3rem; }

.pane.calls-to-action.links p.text ~ p.text {
  margin-bottom: 3rem; }

.panel.introduction {
  padding-right: 2.25rem;
  padding-left: 2.25rem;
  padding-bottom: 8.875rem;
  background: white url("/Images/Home/Introduction.Background.Default.png") no-repeat bottom right;
  background-size: 75%; }
  @media print, screen and (min-width: 40em) {
    .panel.introduction {
      padding-right: 6.875rem;
      padding-bottom: 17.5rem;
      padding-left: 6.875rem;
      background-size: 62%; } }
  @media print, screen and (min-width: 64em) {
    .panel.introduction {
      padding-right: 25.9375rem;
      padding-bottom: 5rem;
      background: white url("/Images/Home/Introduction.Background.Large.png") no-repeat bottom right;
      background-size: contain; } }

.panel.customers {
  position: relative;
  padding-bottom: 9.875rem;
  background-image: url("/Images/Home/Customers.Background.png");
  background-position: 100% 100%;
  background-size: contain;
  background-repeat: no-repeat; }
  @media print, screen and (min-width: 40em) {
    .panel.customers {
      padding-bottom: 19.3125rem; } }
  @media print, screen and (min-width: 64em) {
    .panel.customers {
      padding-top: 4rem;
      padding-right: 30.75rem;
      padding-bottom: 4rem;
      background-position: 8.5rem -0.25rem;
      background-size: 93% 105%; } }
  .panel.customers > header {
    padding-right: 2rem; }
    @media print, screen and (min-width: 64em) {
      .panel.customers > header {
        padding-right: 4rem; } }
  .panel.customers aside {
    position: absolute;
    top: 0;
    right: 0;
    bottom: auto;
    overflow: hidden;
    padding: 0 6.875rem;
    height: 100%;
    font-size: 1.875rem;
    font-weight: 600;
    color: #fec10d;
    text-align: center; }
    .panel.customers aside div {
      position: relative; }

.panel.calls-to-action.links {
  padding-right: 20rem;
  background: white url("/Images/Home/CTAs.Background.png") no-repeat 115% -8rem; }

.usage .carousel-wrapper {
  position: relative;
  max-width: 100vmin; }
  @media print, screen and (min-width: 64em) {
    .usage .carousel-wrapper {
      max-width: 60rem; } }

.usage .owl-nav {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }
  .usage .owl-nav .owl-prev,
  .usage .owl-nav .owl-next {
    z-index: 10;
    display: inline-block;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1.25rem;
    background: #f3f3f3; }
    @media print, screen and (min-width: 40em) {
      .usage .owl-nav .owl-prev,
      .usage .owl-nav .owl-next {
        width: 6.875rem; } }
    .usage .owl-nav .owl-prev.disabled i.fa,
    .usage .owl-nav .owl-next.disabled i.fa {
      display: none; }
    .usage .owl-nav .owl-prev i.fa,
    .usage .owl-nav .owl-next i.fa {
      position: absolute;
      top: 40%;
      font-size: 2rem;
      color: #919191; }
  .usage .owl-nav .owl-prev {
    left: 0; }
    .usage .owl-nav .owl-prev i.fa {
      left: 0.25rem; }
      @media print, screen and (min-width: 40em) {
        .usage .owl-nav .owl-prev i.fa {
          left: 2.625rem; } }
  .usage .owl-nav .owl-next {
    right: 0; }
    .usage .owl-nav .owl-next i.fa {
      right: 0.25rem; }
      @media print, screen and (min-width: 40em) {
        .usage .owl-nav .owl-next i.fa {
          right: 2.625rem; } }

.usage .owl-item {
  padding: 0 2.25rem; }
  @media screen and (max-width: 39.9375em) {
    .usage .owl-item {
      min-height: 32rem;
      background-color: white; } }
  @media print, screen and (min-width: 40em) {
    .usage .owl-item {
      padding: 0 6.875rem; } }
  .usage .owl-item p:last-of-type {
    margin-bottom: 0; }
  @media screen and (max-width: 39.9375em) {
    .usage .owl-item .description {
      padding: 0.75rem 0; } }
  .usage .owl-item a.toggler {
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    border-bottom: 0 none transparent;
    padding: 2rem 0;
    text-align: center;
    color: white;
    background-color: #202020; }

.usage li {
  padding-left: 0; }

.usage h2 {
  margin-bottom: 1rem;
  padding: 0;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1.125rem;
  font-weight: 600;
  text-align: center; }
  @media print, screen and (min-width: 40em) {
    .usage h2 {
      text-align: left; } }

.usage .screenshot {
  display: block;
  padding: 1rem 0 0;
  height: 100%;
  text-align: center; }
  @media print, screen and (min-width: 40em) {
    .usage .screenshot {
      padding: 0 0 0 2.5rem;
      text-align: right; } }
  .usage .screenshot img {
    margin: 0 auto;
    border: 1px solid #cccccc; }
    @media print, screen and (min-width: 40em) {
      .usage .screenshot img {
        max-width: 20.5625rem; } }

.applications .card {
  margin: 0 2.25rem 0.875rem;
  padding: 10.375rem 0 0;
  background-size: contain;
  background-position: center top;
  background-repeat: no-repeat; }
  @media screen and (min-width: 400px) and (max-width: 599px) {
    .applications .card {
      padding: 14rem 0 0; } }
  @media print, screen and (min-width: 40em) {
    .applications .card {
      margin: 0;
      padding: 8.4375rem 0 0; } }
  @media print, screen and (min-width: 64em) {
    .applications .card {
      padding: 12.375rem 0 0; } }
  .applications .card.environmental {
    background-image: url("/Images/Content/Product/CT/CT_400px.png"); }
    @media print, screen and (min-width: 40em) {
      .applications .card.environmental {
        margin-right: -1rem;
        margin-left: 1rem; } }
    @media print, screen and (min-width: 64em) {
      .applications .card.environmental {
        margin-right: auto;
        margin-left: auto; } }
  .applications .card.engineered {
    background-image: url("/Images/Content/Product/RL/RL_400px.png"); }
  .applications .card.business {
    background-image: url("/Images/Content/Product/FN/FN_400px.png"); }
    @media print, screen and (min-width: 40em) {
      .applications .card.business {
        margin-right: 1rem;
        margin-left: -1rem; } }
    @media print, screen and (min-width: 64em) {
      .applications .card.business {
        margin-right: auto;
        margin-left: auto; } }
  .applications .card picture {
    overflow: hidden;
    width: 100%;
    height: 100%;
    max-height: 14.0625rem; }
    .applications .card picture img {
      width: 100%; }
  .applications .card ul {
    list-style-type: none;
    margin: 0.3125rem 0 0;
    padding-bottom: 2rem; }
    .applications .card ul li {
      margin-bottom: 0;
      padding: 0;
      line-height: 1.4; }
      .applications .card ul li a {
        display: block;
        padding: 1rem 1.75rem;
        font-weight: normal;
        border: 0 none transparent; }
        .applications .card ul li a:hover, .applications .card ul li a:focus, .applications .card ul li a:active {
          color: #202020;
          background-color: #fec10d; }
        .applications .card ul li a:visited {
          color: #202020; }
      .applications .card ul li:first-child a {
        margin-top: -1rem; }
      .applications .card ul li:last-child a {
        margin-bottom: -1rem; }

.calls-to-action.links .cell {
  padding: 0 2.25rem;
  text-align: center; }
  @media print, screen and (min-width: 40em) {
    .calls-to-action.links .cell {
      padding: 0; } }
  .calls-to-action.links .cell:first-of-type .button {
    margin-bottom: 1.125rem; }
  @media print, screen and (min-width: 64em) {
    .calls-to-action.links .cell:first-of-type .button {
      margin-bottom: 0; } }

.calls-to-action.links .button {
  margin-bottom: 0;
  -webkit-box-shadow: 0 0 9px 2px rgba(0, 0, 0, 0.07);
          box-shadow: 0 0 9px 2px rgba(0, 0, 0, 0.07);
  width: 100%; }
  @media print, screen and (min-width: 40em) {
    .calls-to-action.links .button {
      width: auto; } }

h1.title.short {
  position: static;
  padding-bottom: 0.5rem;
  font-size: 1.125rem;
  color: #cccccc; }
  @media print, screen and (min-width: 40em) {
    h1.title.short {
      font-size: 1.3125rem; } }
  @media print, screen and (min-width: 64em) {
    h1.title.short {
      font-size: 1.875rem; } }

h1.title.long {
  margin-bottom: 2.75rem;
  color: white; }
