//==============================================================================================
// ACCORDION
//----------------------------------------------------------------------------------------------
// Represents styles specific to pages of Content Type "Accordion" and its child Content Types.
//==============================================================================================

//----------------------------------------------------------------------------------------------
// IMPORTS
//----------------------------------------------------------------------------------------------
// NOTE: It is expected that this page will co-exist with the centralized stylesheet and,
// therefore, it is not necessary that it reimport shared styles. It may, however, need to
// import variables and helpers.
//----------------------------------------------------------------------------------------------
@import "variables";
@import "foundationSettings";

//----------------------------------------------------------------------------------------------
// BRAINTREE
//----------------------------------------------------------------------------------------------
.payments-form {
  input {
    &::placeholder {
      color: rgb(133, 133, 133);
    }
  }
}

.hosted-field {
  display: inline-block;
  box-sizing: border-box;
  margin: rem-calc(0 0 16);
  border: 1px solid $palette-grey-light;
  border-radius: 0;
  padding: 0;
  width: 100%;
  height: rem-calc(39);

  &.padded {
    padding: rem-calc(0 8);
  }

  &:focus,
  &.braintree-hosted-fields-focused {
    border-color: $palette-yellow;
  }
}