//==============================================================================================
// SEARCH RESULTS
//----------------------------------------------------------------------------------------------
// Represents styles specific to pages of Content Type "Search".
//==============================================================================================

//----------------------------------------------------------------------------------------------
// IMPORTS
//----------------------------------------------------------------------------------------------
// NOTE: It is expected that this page will co-exist with the centralized stylesheet and,
// therefore, it is not necessary that it reimport shared styles. It may, however, need to
// import variables and helpers.
//----------------------------------------------------------------------------------------------
@import "../variables";
@import "../foundationSettings";

//----------------------------------------------------------------------------------------------
// CORE
//----------------------------------------------------------------------------------------------
.results {
  input {
    padding                     : rem-calc(12 8);
    &[type="search"] {
      margin-bottom             : rem-calc(32);
      min-height                : rem-calc(48);
      font-size                 : rem-calc(30);
      background                : transparent url('/Images/Icons/Search.png') no-repeat right 10px center;
      background-size           : 36px;
    }
  }
  .result {
    padding-bottom              : rem-calc(16);
    .title {
      font-size                 : rem-calc(20);
      b,
      strong {
        font-weight             : 600;
      }
    }
    small {
      display                   : inline-block;
      position                  : relative;
      top                       : rem-calc(-5);
      color                     : $palette-grey-medium;
      b,
      strong {
        font-weight             : normal;
      }
    }
  }
  .pagination {
    margin-top                  : rem-calc(32);
    margin-bottom               : rem-calc(32);
    ul {
      position                  : relative;
      left                      : rem-calc(-8);
      margin                    : 0;
      li {
        position                : absolute;
        padding-left            : rem-calc(8);
        font-size               : rem-calc(18);
        line-height             : 100%;
        &:first-child {
          left                  : 0;
        }
        &:last-child {
          right                 : rem-calc(-8);
        }
        a,
        span.current {
          border                : 2px solid transparent;
          border-radius         : 3px;
          padding               : rem-calc(8 12);
          font-weight           : 600;
          color                 : $palette-black;
        }
        a {
          color                 : $palette-black;
          &:focus,
          &:active,
          &.page-link.prev,
          &.page-link.next {
            border-color        : $palette-yellow;
          }
          &:focus,
          &:active {
            color               : $palette-yellow;
          }
          &:hover {
            border-color        : $palette-black;
            color               : $palette-yellow;
            background-color    : $palette-black;
          }
          &.page-link {
            &.prev,
            &.next {
              background-color  : $palette-yellow;
              &:hover {
                border-color    : $palette-black;
                background-color: $palette-black;
              }
              &:focus,
              &:active {
                border-color    : $palette-yellow;
                background-color: $palette-white;
              }
            }
          }
        }
        span.current {
          display               : block;
          border-color          : $palette-yellow;
        }
        &.disabled {
          margin-bottom         : 0;
          padding-top           : 0;
          padding-bottom        : 0;
          opacity               : 0.25;
        }
      }
    }
    button {
      display                   : inline-block;
      margin                    : rem-calc(0 8);
      padding-top               : rem-calc(2);
      min-width                 : rem-calc(36);
      min-height                : rem-calc(36);
      text-align                : center;
      font-family               : $body-font-family;
      font-size                 : rem-calc(18);
      color                     : $palette-black;
      cursor                    : pointer;
      &:first-of-type {
        margin-left             : 0;
      }
      &:hover,
      &:focus,
      &:active,
      &.selected {
        font-weight             : bold;
      }
      &:hover,
      &.selected {
        background-color        : $palette-yellow;
      }
      &:focus,
      &:active {
        color                   : $palette-yellow;
        background-color        : $palette-black;
      }
    }
    .ellipse.clickable {
      cursor                    : pointer;
    }
  }
}