@model CourseTopicViewModel

@{
  ViewBag.Title = Model.Title;
  Layout = "~/Views/Layout/_Layout.cshtml";
}

<div>

  <section class="panel">
    @Html.Raw(Model.Body)
  </section>

  <p />

  <section class="panel">
    <h1>Syllabus</h1>
    <vc:unit-list />
  </section>

</div>

<!--
  Content Type: Course
  View Location: ~/Views/ContentTypes/Course.cshtml
-->