@model PageTopicViewModel

@{
  Layout = "~/Views/Layout/_Layout.cshtml";
}

@section Head {
  <link rel="stylesheet" type="text/css" href="/Shared/Styles/Views/Page.min.css" />
}
@section DeferredStyles {
  <link rel="stylesheet" type="text/css" href="~/Shared/Styles/Vendor/RedCastor/awesome-foundation6-checkbox.css" />
}

<div>
  <section class="panel body">
    @Html.Raw(Model.Body)
  </section>
</div>

<!--
  Content Type: Page
  View Location: ~/Views/Page/Page.cshtml
-->