@model PageTopicViewModel

@{
  Layout = "~/Views/Layout/_Layout.cshtml";
}

@section Head {
  <link rel="stylesheet" type="text/css" href="/Shared/Styles/Views/Page.css" />
}

<section class="panel">
  @Html.Raw(Model.Body)
</section>

@section Scripts {
  @if (Model.Body.Contains("data-smooth-scroll")) {
    <script defer src="~/Shared/Scripts/Vendor/ZURB/Plugins/foundation.smoothScroll.min.js"></script>
  }
}

<!--
  Content Type: Page
  View Location: ~/Views/Page/Page.cshtml
-->