@model PaymentsTopicViewModel
@{
  Layout = "~/Views/Layout/_Layout.cshtml";
}

@section PageBodySection {

  <!-- Main Page Content -->
  <section class="panel body" style="width: 100%">

    @if (Model.ErrorMessages.Count > 0) {
      <div class="callout alert">
        <p>There were problems with your payment submission. Please correct the following and submit your payment again:</p>
        <ul>
          @foreach (string errorMessageKey in Model.ErrorMessages.Keys) {
            <li>@Model.ErrorMessages[errorMessageKey]</li>
          }
        </ul>
      </div>
    }
    @if (!String.IsNullOrEmpty(Model.ConfirmationMessageSuccess)) {
      <div class="callout success">
        <p>@Model.ConfirmationMessageSuccess</p>
      </div>
    }

    <form id="PaymentsForm" method="post">

      <div class="grid-container">
        <div class="grid-x grid-margin-x">

          <!-- Company Name -->
          <div class="cell">
            <label for="Company" class="required">
              *Company Name
              <input id="Company" name="company" type="text" required placeholder="Company Name">
            </label>
          </div>

          <!-- Invoice Number -->
          <div class="medium-6 cell">
            <label for="Invoice" class="required">
              *Invoice Number
              <input id="Invoice" name="invoice" type="text" required placeholder="Invoice Number">
            </label>
          </div>

          <!-- Amount -->
          <div class="medium-6 cell">
            <label for="Amount" class="required">
              *Amount
              <input id="Amount" name="amount" type="tel" required min="1" placeholder="1000">
            </label>
          </div>

          <!-- CC Number -->
          <div class="cell">
            <label for="CardNumber" class="required">
              *Card Number
              <span id="CardNumber"></span>
            </label>
          </div>

          <!-- CVV Code -->
          <div class="medium-3 cell">
            <label for="Cvv" class="required">
              *CVV
              <span id="Cvv"></span>
            </label>
          </div>

          <!-- Expiration Month -->
          <div class="medium-3 cell">
            <label for="ExpirationMonth" class="required">
              *Expiration Month
              <span id="ExpirationMonth"></span>
            </label>
          </div>

          <!-- Expiration Year -->
          <div class="medium-3 cell">
            <label for="ExpirationYear" class="required">
              *Expiration Year
              <span id="ExpirationYear"></span>
            </label>
          </div>

          <!-- Postal Code -->
          <div class="medium-3 cell">
            <label for="PostalCode" class="required">
              *ZIP / Postal Code
              <span id="PostalCode"></span>
            </label>
          </div>

          <input id="PaymentMethodNonce" name="paymentMethodNonce" type="hidden" />

          @Html.AntiForgeryToken()

          <!-- Submit -->
          <div class="cell">
            <button type="submit" disabled class="button large submit secondary">Submit Payment</button>
          </div>

        </div>
      </div>
    </form>

  </section>
  <!-- /Main Page Content -->

}

@section Scripts {

  <!-- Braintree -->
  <script src="https://js.braintreegateway.com/web/3.39.0/js/client.min.js"></script>
  <script src="https://js.braintreegateway.com/web/3.39.0/js/hosted-fields.min.js"></script>

  <script>

      /**
       * Initializes the Braintree Javascript v3 SDK and dynamically creates the primary Braintree form fields.
       */
      var clientToken           = "@Model.ClientToken";
      var form                  = document.querySelector('#PaymentsForm');
      var submit                = document.querySelector('button[type="submit"]');

      var clientInstance        = braintree.client.create({
        authorization           : clientToken
      }, function (clientError, clientInstance) {

        if (clientError) {
          console.error(clientError);
          return;
        }

        braintree.hostedFields.create({
          client: clientInstance,
          fields: {
            number: {
              selector          : '#CardNumber',
              placeholder       : '1111 1111 1111 1111'
            },
            cvv: {
              selector          : '#Cvv',
              placeholder       : '123'
            },
            expirationMonth: {
              selector          : '#ExpirationMonth',
              placeholder       : '01'
            },
            expirationYear: {
              selector          : '#ExpirationYear',
              placeholder       : '2021'
            },
            postalCode: {
              selector          : '#PostalCode',
              placeholder       : '12345'
            }
          }
        }, function (hostedFieldsError, hostedFieldsInstance) {

          if (hostedFieldsError) {
            console.error(hostedFieldsError);
            return;
          }

          submit.removeAttribute('disabled');

          form.addEventListener('submit', function (event) {
            event.preventDefault();

            hostedFieldsInstance.tokenize(function (tokenizeError, payload) {
              if (tokenizeError) {
                console.error(tokenizeError);
                return;
              }

              document.querySelector('#PaymentMethodNonce').value             = payload.nonce;
              form.submit();
            });
          }, false);

        });
      });

      /**
       * Initialize Foundation
       */
      $(document).foundation();

  </script>

}