@model VideoTopicViewModel

@{
  ViewBag.Title = Model.Title;
  Layout = "~/Views/Layout/_Layout.cshtml";
}

@section PageBodySection {

  <section class="panel">

    <!-- Description -->
    @Html.Raw(Model.Body)
    <!-- /Description -->

    <!-- Video Area -->
    <div class="video-wrapper">
      <video controls @(!String.IsNullOrEmpty(Model.PosterUrl?.ToString()) ? "poster=" + Model.PosterUrl : "")>
        <source src="@Model.VideoUrl" type="video/mp4" />
        Your browser does not support the HTML5 video.
      </video>
      <p class="footnote">Discover more videos from GoldSim on our <a class="youtube" target="_blank" href="https://www.youtube.com/channel/UCxFZnb7MFASBkhfLmiJDRjQ">YouTube Channel.</a></p>
    </div>
    <!-- /Video Area -->

  </section>

}

<!--
  Content Type: Video
  View Location: ~/Views/Video/Video.cshtml
-->