//==============================================================================================
// MIXINS
//----------------------------------------------------------------------------------------------
// Provides style definitions intended to be re-used throughout the style library via @include
// directives.
//==============================================================================================

//----------------------------------------------------------------------------------------------
// PSEUDO-SELECTORS
//----------------------------------------------------------------------------------------------

@mixin comma-delimit {
  content                       : ',';
  display                       : inline-block;
  margin-right                  : rem-calc(2);
}