@model PurchaseBindingModel

@Html.EditorFor(model => model.Product, "Select")
@Html.EditorFor(model => model.LicenseType, "Select")

@Html.EditorFor(model => model.Quantity)

<div class="medium-6 cell form-field">
  <label>Add-on Modules:</label>
  <partial name="_modules" for="Modules" />
  <div class="medium-6 cell" style="margin-bottom: 1rem;">
    @Html.EditorFor(model => model.Modules.QuickStartPackage)
  </div>
</div>

<script>
  window.addEventListener('DOMContentLoaded', function() {
    (function($) {
      var licenseTypeValue      = null;
      $("select[name='BindingModel.Product']").change(function() {
        var product             = $(this);
        var licenseType         = $("select[name='BindingModel.LicenseType']");
        var productValue        = product.children("option:selected").val();
        if (productValue.includes("Research")) {
          licenseTypeValue      = licenseType.children("option:selected").val();
          licenseType.addClass("readonly");
          licenseType.val("Leased Standalone (1 year)");
        }
        else {
          if (licenseTypeValue != null) {
            licenseType.val(licenseTypeValue);
          }
          licenseType.removeClass("readonly");
        }
      });
    })(jQuery);
  });
</script>

<!-- View Location: ~/Areas/Forms/Views/Shared/_ProductSelection.cshtml -->