@model ExtendedProfile

<div class="cell">
  @Html.EditorFor(model => model.AcceptTermsOfUse)
  <p class="instructions">Note: the GoldSim newsletter is sent a few times a year, and you may unsubscribe at any time.</p>
</div>

<!-- View Location: ~/Areas/Forms/Views/Shared/_TermsOfUse.cshtml -->