//==============================================================================================
// BASE CLASSES
//----------------------------------------------------------------------------------------------
// Provides global overrides for standard HTML elements based on element, attribute, and single-
// class selectors. Selectors in this section should never be nested more than two layers deep.
//----------------------------------------------------------------------------------------------

//----------------------------------------------------------------------------------------------
// IMPORTS
//----------------------------------------------------------------------------------------------
@import "fonts";
@import "typography";
@import "utilities";

//----------------------------------------------------------------------------------------------
// DOCUMENT
//----------------------------------------------------------------------------------------------

//----------------------------------------------------------------------------------------------
// COMMON ELEMENTS
//----------------------------------------------------------------------------------------------

//----------------------------------------------------------------------------------------------
// UI ELEMENTS
//----------------------------------------------------------------------------------------------

//----------------------------------------------------------------------------------------------
// MAIN CONTENT
//----------------------------------------------------------------------------------------------
main.page.content {

  // Page (Short) Title Area
  > section > header {
    background-color            : $palette-grey-dark;

    .grid-container {
      position                  : relative;
      min-height                : 12.5rem;                      // 200px
    }

    h1.title.short {
      position                  : absolute;
      bottom                    : 0;
      padding-bottom            : 2rem;                         // 32px
      color                     : $palette-white;
    }

  }

  // Primary Page Content
  article {

    // Long Title (Subtitle) Area
    header h2.title.long {
      margin                    : 0;
      padding                   : 4rem 7rem;                    // 64px 112px
      color                     : $palette-grey-dark;
    }

  }


}

//----------------------------------------------------------------------------------------------
// FOOTER
//----------------------------------------------------------------------------------------------
.site.footer {
  .navigation {
    p.list.heading {
      margin-bottom             : 0;
      font-size                 : 1.25rem;
      color                     : $palette-grey-lighter;
    }
    ul {
      @extend .no-list-style;
      margin-bottom             : 0;
      margin-left               : 0;
      li {
        margin-top              : 0.75rem;
        a,
        a:hover,
        a:focus,
        a:active {
          color                 : $palette-grey-medium;
        }
      }
    }
  }
}

