//==============================================================================================
// BASE CLASSES
//----------------------------------------------------------------------------------------------
// Provides global overrides for standard HTML elements based on element, attribute, and single-
// class selectors. Selectors in this section should never be nested more than two layers deep.
//----------------------------------------------------------------------------------------------

//----------------------------------------------------------------------------------------------
// IMPORTS
//----------------------------------------------------------------------------------------------
@import "fonts";
@import "typography";
@import "utilities";
@import "forms";
@import "../Vendor/ZURB/util/mixins";

//----------------------------------------------------------------------------------------------
// LINKS
//----------------------------------------------------------------------------------------------
a {
  &.comma.delimited {
    &:after {
      @include comma-delimit;
    }
    &:last-of-type {
      &:after {
        content                 : '';
      }
    }
  }
}

main {
  a {
    border-bottom               : 2px solid $palette-yellow;
    padding-bottom              : 1px;
    font-weight                 : 600;
    &:hover,
    &:focus,
    &:active {
      color                     : $palette-yellow;
    }
    &:visited {
      color                     : $palette-grey-medium;
      &:hover,
      &:focus,
      &:active {
        color                   : $palette-yellow;
      }
    }
    ~ img {
      border                    : 0 none transparent;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  a {
    border-bottom               : 2px solid $palette-grey-light;
    &:hover,
    &:focus,
    &:active {
      border-color              : $palette-yellow;
      color                     : $palette-yellow;
    }
    &:visited {
      color                     : $palette-black;
    }
  }
}
h1 {
  a {
    font-weight                 : 300;
  }
}

//----------------------------------------------------------------------------------------------
// ICONS
//----------------------------------------------------------------------------------------------

a[href$=".pdf"],
a[href$=".exe"],
a[href$=".zip"],
a[href$=".doc"],
a[href$=".docx"],
a[href$=".ppt"],
a[href$=".pptx"],
a[href$=".xls"],
a[href$=".xlsx"] {
  line-height                   : 1.3;
}
a ~ i,
a > i {
  padding-right                 : rem-calc(2);
  padding-left                  : rem-calc(5);
}
i {
  &.fa-file-pdf-o {
    color                       : rgb(229, 31, 0);
  }
  &.fa-download,
  &.fa-file-archive-o {
    color                       : $palette-grey-dark;
  }
  &.fa-file-word-o {
    color                       : rgb(42, 86, 153);
  }
  &.fa-file-powerpoint-o {
    color                       : rgb(209, 68, 36);
  }
  &.fa-file-excel-o {
    color                       : rgb(32, 113, 68);
  }
}

a[href $=".gsm"] {
  padding                       : rem-calc(2 25 2 0);
  background                    : transparent url('/Images/Icons/Small/GSM.gif') no-repeat right center;
}

//----------------------------------------------------------------------------------------------
// IMAGES
//----------------------------------------------------------------------------------------------

img.logo {
  max-width                     : rem-calc(140);
}

//----------------------------------------------------------------------------------------------
// LISTS
//----------------------------------------------------------------------------------------------

ul,
ol {
  margin                        : rem-calc(32 0 36 64);
  li {
    margin-bottom               : rem-calc(16);
    padding-left                : rem-calc(18);
    &:last-child {
      margin-bottom             : 0;
    }
  }
}

ul {
  ul {
    list-style-type             : circle;
  }
}

ul.modules-list {
  list-style-type               : none;
  margin-left                   : 0;
  li.module {
    padding-left                : rem-calc(66);
    background-size             : rem-calc(48 48);
    background-position         : 0 0;
    background-repeat           : no-repeat;
    &.contaminant-transport {
      background-image          : url(/Images/Content/Product/ContaminantTransport.Icon.png);
    }
    &.reliability {
      background-image          : url(/Images/Content/Product/Reliability.Icon.png);
    }
    &.financial {
      background-image          : url(/Images/Content/Product/Financial.Icon.png);
    }
    &.dashboard-authoring {
      background-image          : url(/Images/Content/Product/DashboardAuthoring.Icon.png);
    }
    &.distributed-processing {
      background-image          : url(/Images/Content/Product/DistributedProcessing.Icon.png);
    }
  }
}

//----------------------------------------------------------------------------------------------
// BUTTONS
//----------------------------------------------------------------------------------------------

.button {
  border-width                  : 2px;
  min-width                     : rem-calc(208);
  font-size                     : 1rem;
  font-weight                   : 600;
  &:visited {
    color                       : $palette-black;
  }
  &:hover {
    color                       : $palette-yellow;
    background-color            : $palette-black;
  }
  &:focus,
  &:active {
    border-color                : $palette-yellow;
    color                       : $palette-yellow;
    background-color            : $palette-white;
  }
  &.huge {
    padding-top                 : rem-calc(40);
    padding-bottom              : rem-calc(40);
    min-width                   : rem-calc(460);
  }
  &.primary {
    &:hover {
      color                     : $palette-yellow;
      background-color          : $palette-black;
    }
    &:focus,
    &:active {
      border-color              : $palette-yellow;
      color                     : $palette-yellow;
      background-color          : $palette-white;
    }
  }
  &.secondary {
    &:hover {
      background-color          : $palette-grey-medium;
    }
    &:focus,
    &:active {
      border-color              : $palette-grey-medium;
      color                     : $palette-grey-medium;
      background-color          : $palette-white;
    }
  }
  &.white {
    &:hover {
      background-color          : $palette-yellow;
    }
    &:focus,
    &:active {
      border-color              : $palette-yellow;
      background-color          : $palette-yellow;
    }
  }
}

.button-group {
  .button {
    margin-right                : rem-calc(10);
    &.large {
      font-size                 : rem-calc(20);
    }
  }
}

//----------------------------------------------------------------------------------------------
// CONTENT BLOCKS (e.g., panels, callouts, cards)
//----------------------------------------------------------------------------------------------

.panel,
.callout,
.card {
  background-color              : $palette-white;
  box-shadow                    : 0 0 9px 2px rgba(0, 0, 0, 0.07);
}

.panel {
  padding                       : rem-calc(80 110);
  &.accordion {
    padding                     : 0;
  }
  &.ctas {
    padding                     : rem-calc(32 0);
  }
}

.callout {
  @include clearfix;
  float                         : right;
  margin                        : rem-calc(0 0 18 24);
  &:before,
  &:after {
    display                     : table;
    content                     : ' ';
  }
  &:after {
    clear                       : both;
  }
  &.left {
    float                       : left;
    margin                      : rem-calc(0 24 18 0);
  }
  &.picture {
    box-shadow                  : none;
    border                      : 0 none transparent;
    padding                     : 0;
    max-width                   : rem-calc(280);
    &.small {
      max-width                 : rem-calc(180);
    }
  }
}

.card {
  position                      : relative;
  a.thumbnail,
  a.title {
    display                     : block;
    margin                      : 0;
    border                      : 0 none transparent;
    background-color            : $palette-grey-lightest;
  }
  a.thumbnail {
    width                       : 100%;
    height                      : rem-calc(180);
    max-height                  : rem-calc(180);
    background-position         : center center;
    background-size             : cover;
    background-color            : $palette-grey-dark;
  }
  .thumbnail img,
  img.thumbnail {
    margin                      : 0;
    border                      : 0 none transparent;
    width                       : 100%;
  }
  a.title {
    padding                     : rem-calc(18);
    min-height                  : rem-calc(94);
    &:hover,
    &:focus,
    &:active {
      color                     : $text-color;
      background-color          : $palette-yellow;
    }
    &:visited {
      color                     : $text-color;
    }
  }
  .icon {
    &.type {
      z-index                   : 9;
      display                   : block;
      position                  : absolute;
      top                       : rem-calc(18);
      right                     : rem-calc(18);
      border-radius             : 50%;
      width                     : rem-calc(52);
      height                    : rem-calc(52);
      &.application {
        background-color        : $palette-red;
      }
      &.case-study {
        background-color        : $palette-green;
      }
      &.module {
        background-color        : $palette-blue;
      }
    }
  }
}

article {
  &.page.body {
    margin-bottom               : rem-calc(48);
  }
  .list & {
    margin-bottom               : rem-calc(32);
    border-bottom               : 1px solid $palette-grey-light;
    padding-bottom              : rem-calc(32);
    &:first-of-type {
      border-top                : 1px solid $palette-grey-light;
      padding-top               : rem-calc(32);
    }
    &:last-of-type {
      margin-bottom             : 0;
      border-bottom             : 0 none transparent;
      padding-bottom            : 0;
    }
  }
}

// "Table" / Floated-Layout Blocks
.floated-layout {
  @include clearfix;
  &.left {
    picture,
    picture + div {
      float                     : left;
    }
    picture {
      max-width                 : 25%;
    }
    picture + div {
      max-width                 : 75%;
    }
  }
}

//----------------------------------------------------------------------------------------------
// QUOTES
//----------------------------------------------------------------------------------------------

.quote {
  font-size                     : rem-calc(30);
  line-height                   : 1.333;
  &.right,
  &.left {
    max-width                   : 45%;
  }
  &.right {
    float                       : right;
    margin-left                 : rem-calc(56);
  }
  &.left {
    float                       : left;
    margin-right                : rem-calc(56);
    border-left-width           : 0;
    border-right                : 2px solid $palette-grey-medium;
  }
  &.full {
    margin                      : rem-calc(40) 0;
    border-top                  : 2px solid $palette-grey-light;
    border-bottom               : 2px solid $palette-grey-light;
    border-left                 : 0 none transparent;
    padding                     : rem-calc(36) 0;
    font-family                 : $header-font-family;
    font-size                   : rem-calc(48);
    font-weight                 : 300;
    line-height                 : 1.25;
    color                       : $palette-yellow;
  }
  cite {
    padding-top                 : rem-calc(24);
    text-align                  : right;
  }
}

//----------------------------------------------------------------------------------------------
// FIGURES
//----------------------------------------------------------------------------------------------

figure {
  margin                        : rem-calc(40) auto rem-calc(36);
  @extend .centered;
  img {
    border                      : 2px solid rgb(234, 234, 234);
    padding                     : rem-calc(28 32);
  //text-align                  : center;
  }
  figcaption {
    margin-top                  : rem-calc(16);
  //text-align                  : left;
    font-style                  : italic;
    color                       : $palette-grey-medium;
  }
}

//----------------------------------------------------------------------------------------------
// TABLES
//----------------------------------------------------------------------------------------------
.table-wrapper {
  &.wide {
    margin-right                : rem-calc(-104);
    margin-left                 : rem-calc(-104);
  }
}
table {
  border                        : 0 none transparent;
  th,
  td {
    border                      : 4px solid $palette-white;
    border-collapse             : separate;
    padding                     : rem-calc(16 18);
    &.right {
      text-align                : right;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .button {
      margin-bottom             : 0;
    }
  }
  td {
    vertical-align              : top;
    background-color            : rgb(239, 239, 239);         // #EFEFEF
    &.highlight {
      background-color          : $palette-grey-light;
    }
    p {
      margin                    : rem-calc(8 0 0);
    }
    ul {
      margin                    : rem-calc(0 0 20 36);
    }
  }
  th,
  thead td {
    border-color                : $palette-black;
    vertical-align              : middle;
    color                       : $palette-white;
    background-color            : $palette-black;
    &.highlight {
      color                     : $palette-grey-light;
      background-color          : $palette-black;
    }
  }
  tr {
    td:first-child,
    th:first-child {
      border-left-width         : 0;
    }
    td:last-child,
    th:last-child {
      border-right-width        : 0;
    }
  }
  &.download {
    th,
    td {
      padding                   : rem-calc(18 28);
    }
    tr:last-child {
      td {
        padding-bottom          : rem-calc(34);
      }
    }
  }
}

//----------------------------------------------------------------------------------------------
// ACCORDIONS
//----------------------------------------------------------------------------------------------
section.panel.body {
  ~ section.panel.accordion {
    margin-top                  : rem-calc(48);
  }
}
.panel.accordion.embedded {
  margin-bottom                 : rem-calc(48);
}
ul.accordion {
  margin                        : 0;
  li {
    margin-bottom               : 0;
    border-bottom               : 1px solid $palette-grey-light;
    padding-left                : 0;
    &:last-child {
      border-bottom             : 0 none transparent;
    }
    &.is-active {
      > .accordion-title {
        &:before {
          content               : '▲';
        }
      }
    }

    &:last-child:not(.is-active) {
      > .accordion-title {
        border-bottom           : 0 none transparent;
      }
    }

    .accordion-title,
    .accordion-content {
      border                    : 0 none transparent;
      // FAQ-SPECIFIC
      &.question,
      &.answer {
        position                : relative;
        .marker {
          display               : inline-block;
          position              : absolute;
          left                  : rem-calc(68);
          font-family           : $header-font-family;
          font-size             : rem-calc(32);
          line-height           : 0.9375;
          font-weight           : 600;
          color                 : $palette-yellow;
          + ul,
          + ol {
            margin-top          : rem-calc(-34);
          }
        }
      }
      &.question {
        .marker {
          top                   : rem-calc(32);

        }
      }
      &.answer {
        .marker {
          position              : relative;
          top                   : 0;
          left                  : rem-calc(-37);
        }
        p {
          &:first-of-type {
            margin-top          : rem-calc(-34);
          }
        }
      }
    }
    .accordion-title {
      border-bottom             : 0 none transparent;
      padding                   : rem-calc(30 110 22 110);
      font-family               : $header-font-family;
      font-size                 : rem-calc(32);
      line-height               : 1.2;
      font-weight               : 300;
      color                     : $text-color;
      &:before {
        top                     : rem-calc(46);
        right                   : rem-calc(48);
        content                 : '▼';
        font-size               : rem-calc(20);
        color                   : $palette-grey-light;
      }
      &:hover,
      &:focus,
      &:active,
      &:visited {
        color                   : $text-color !important;
      }
      &:hover,
      &:focus,
      &:active {
        background-color        : transparent;
      }
    }
    .accordion-content {
      padding                   : rem-calc(20 110 44 110);
      ul,
      ol {
        margin                  : rem-calc(32 0 48 20);
        li {
          border-bottom         : 0 none transparent;
        }
      }
      > ul {
        list-style-type         : disc;
      }
    }

  }

  &.embedded {
    li {
      background-color          : $palette-grey-lightest;
      .accordion-title {
        padding                 : rem-calc(18 90 18 18);
        font-size               : rem-calc(20);
        font-weight             : 600;
        &:before {
          top                   : rem-calc(28);
        }
      }
      .accordion-content {
        padding                 : rem-calc(6 90 16 18);
        background-color        : $palette-grey-lightest;
      }
    }
  }

}


//----------------------------------------------------------------------------------------------
// MAIN CONTENT AREA ELEMENTS
//----------------------------------------------------------------------------------------------

main {

  // Page Header Area
  > section > header {
    background-color            : $palette-grey-dark;

    .grid-container {
      position                  : relative;
      min-height                : rem-calc(200)
    }

  }

}

// Page Title
h1.title.short {
  position                      : absolute;
  bottom                        : 0;
  margin                        : 0;
  padding-bottom                : rem-calc(32);
  color                         : $palette-white;
}

// Primary Page Content
article {

  // Long Title (Subtitle) Area
  header {
    h1.title.long {
      margin                    : 0;
      color                     : $palette-grey-dark;
    }
    .category.title {
      margin-bottom             : 0;
    }
    ~ .embedded.body {
      margin-bottom             : rem-calc(48);
      padding                   : rem-calc(0 110);
    }

  }

}

//----------------------------------------------------------------------------------------------
// CTAS
//----------------------------------------------------------------------------------------------
.panel.ctas {
  h1,
  .button-group {
    margin-bottom               : 0;
  }
  .button-group {
    .button {
      margin-right              : rem-calc(32);
      &:last-of-type {
        margin-right            : 0;
      }
    }
  }
}

//----------------------------------------------------------------------------------------------
// FOOTER ELEMENTS
//----------------------------------------------------------------------------------------------

.site.footer {
  .navigation {
    .heading,
    dl dd {
      font-size                 : rem-calc(21);
      color                     : $palette-grey-light;
      a,
      a:hover,
      a:focus,
      a:active,
      a:visited {
        color                   : $palette-grey-light;
      }
    }
    p.heading {
      margin-bottom             : 0;
      + p.heading {
        margin-top              : rem-calc(36);
      }
    }
    ul {
      @extend .no-list-style;
      margin                    : 0;
      li {
        margin-top              : rem-calc(3);
        margin-bottom           : 0;
        padding-left            : 0;
        line-height             : rem-calc(32);
        a,
        a:hover,
        a:focus,
        a:active {
          color                 : $palette-grey-medium;
        }
      }
    }
    dl {
      margin-bottom             : 0;
      &.emails {
        margin-top              : rem-calc(48);
      }
      dt {
        position                : relative;
        top                     : rem-calc(4);
        margin-bottom           : 0;
        padding-right           : 0;
        font-weight             : normal;
      }
    }
  }
}

