//==============================================================================================
// ICONS
//----------------------------------------------------------------------------------------------
// Defines styles for icon-decorated or custom icon elements.
//==============================================================================================

//----------------------------------------------------------------------------------------------
// IMPORTS
//----------------------------------------------------------------------------------------------
@import "../../../node_modules/@fortawesome/fontawesome-free/scss/_mixins.scss";
@import "../../../node_modules/@fortawesome/fontawesome-free/scss/_variables.scss";

//----------------------------------------------------------------------------------------------
// GLOBAL
//----------------------------------------------------------------------------------------------

//----------------------------------------------------------------------------------------------
// FILE TYPES
//----------------------------------------------------------------------------------------------
a[href$=".pdf"],
a[href$=".exe"],
a[href$=".zip"],
a[href$=".doc"],
a[href$=".docx"],
a[href$=".ppt"],
a[href$=".pptx"],
a[href$=".xls"],
a[href$=".xlsx"] {
  line-height                   : 1.3;
  &:after {
    @include fa-icon;
    font-family                 : 'Font Awesome 5 Free';
    font-weight                 : 900;
    padding-right               : rem-calc(2);
    padding-left                : rem-calc(5);
  }
}

a[href$=".gsm"]:after {
  padding                       : rem-calc(2 25 2 0);
  background                    : transparent url('/Images/Icons/Small/GSM.gif') no-repeat right center;
}
a[href$=".pdf"]:after {
  content                       : fa-content($fa-var-file-pdf);
  color                         : rgb(229, 31, 0);
}
a[href$=".exe"]:after {
  content                       : fa-content($fa-var-download);
  color                         : $palette-black;
}
a[href$=".zip"]:after {
  content                       : fa-content($fa-var-file-archive);
  color                         : $palette-black;
}
a[href$=".doc"]:after,
a[href$=".docx"]:after {
  content                       : fa-content($fa-var-file-word);
  color                         : rgb(42, 86, 153);
}
a[href$=".ppt"]:after,
a[href$=".pptx"]:after {
  content                       : fa-content($fa-var-file-powerpoint);
  color                         : rgb(209, 68, 36);
}
a[href$=".xls"]:after,
a[href$=".xlsx"]:after {
  content                       : fa-content($fa-var-file-excel);
  color                         : rgb(32, 113, 68);
}