//==============================================================================================
// ICONS
//----------------------------------------------------------------------------------------------
// Defines styles for icon-decorated or custom icon elements.
//==============================================================================================

//----------------------------------------------------------------------------------------------
// GLOBAL
//----------------------------------------------------------------------------------------------

//----------------------------------------------------------------------------------------------
// FILE TYPES
//----------------------------------------------------------------------------------------------
a[href$=".pdf"],
a[href$=".exe"],
a[href$=".zip"],
a[href$=".doc"],
a[href$=".docx"],
a[href$=".ppt"],
a[href$=".pptx"],
a[href$=".xls"],
a[href$=".xlsx"] {
  line-height                   : 1.3;
}
a ~ i,
a > i {
  padding-right                 : rem-calc(2);
  padding-left                  : rem-calc(5);
}
i {
  &.fa-file-pdf-o {
    color                       : rgb(229, 31, 0);
  }
  &.fa-download,
  &.fa-file-archive-o {
    color                       : $palette-black;
  }
  &.fa-file-word-o {
    color                       : rgb(42, 86, 153);
  }
  &.fa-file-powerpoint-o {
    color                       : rgb(209, 68, 36);
  }
  &.fa-file-excel-o {
    color                       : rgb(32, 113, 68);
  }
}

a[href $=".gsm"] {
  padding                       : rem-calc(2 25 2 0);
  background                    : transparent url('/Images/Icons/Small/GSM.gif') no-repeat right center;
}