//==============================================================================================
// IMAGES
//----------------------------------------------------------------------------------------------
// Defines styles for image (and related) elements.
//==============================================================================================

//----------------------------------------------------------------------------------------------
// GLOBAL
//----------------------------------------------------------------------------------------------

//----------------------------------------------------------------------------------------------
// LOGO
//----------------------------------------------------------------------------------------------
img.logo {
  @include breakpoint(medium) {
    max-width                   : 152px;
  }
  @include breakpoint(large) {
    max-width                   : 182px;
  }
}

//----------------------------------------------------------------------------------------------
// FIGURES
//----------------------------------------------------------------------------------------------
figure {
  margin                        : rem-calc(40) auto rem-calc(36);
  @extend .centered;
  img {
    box-sizing                  : border-box;
    border                      : 2px solid rgb(234, 234, 234);
    margin                      : 0 auto;
    padding                     : rem-calc(4);
    width                       : auto !important;
    height                      : auto !important;
    @include breakpoint(medium) {
      padding                   : rem-calc(28 32);
    }
  }
  figcaption {
    margin-top                  : rem-calc(16);
    font-style                  : italic;
    color                       : $palette-grey-medium;
  }
  &.bare {
    img {
      border                    : 0 none transparent;
      padding                   : 0;
    }
  }
}
