//==============================================================================================
// LINKS
//----------------------------------------------------------------------------------------------
// Defines common styles for linked elements.
//==============================================================================================

//----------------------------------------------------------------------------------------------
// GLOBAL
//----------------------------------------------------------------------------------------------

//----------------------------------------------------------------------------------------------
// CONTENT AREA
//----------------------------------------------------------------------------------------------
.editor, main {
  a {
    border-bottom               : 2px solid $palette-yellow;
    padding-bottom              : 1px;
    font-weight                 : 600;
    &:hover,
    &:focus,
    &:active {
      color                     : $palette-yellow;
    }
    &:visited {
      color                     : $palette-grey-medium;
      &:hover,
      &:focus,
      &:active {
        color                   : $palette-yellow;
      }
    }
    ~ img {
      border                    : 0 none transparent;
    }
  }
}

//----------------------------------------------------------------------------------------------
// HEADINGS
//----------------------------------------------------------------------------------------------
h1,
h2,
h3,
h4,
h5,
h6 {
  a {
    border-bottom               : 2px solid $palette-grey-light;
    &:hover,
    &:focus,
    &:active {
      border-color              : $palette-yellow;
      color                     : $palette-yellow;
    }
    &:visited {
      color                     : $palette-black;
    }
  }
}
h1 {
  a {
    font-weight                 : 300;
  }
}