//==============================================================================================
// LISTS
//----------------------------------------------------------------------------------------------
// Defines styles for list elements.
//==============================================================================================

//----------------------------------------------------------------------------------------------
// GLOBAL
//----------------------------------------------------------------------------------------------
ul,
ol {
  margin                        : rem-calc(32 0 32 32);
  @include breakpoint(medium) {
    margin                      : rem-calc(32 0 36 64);
  }
  li {
    margin-bottom               : rem-calc(16);
    padding-left                : rem-calc(18);
    &:last-child {
      margin-bottom             : 0;
    }
    picture {
      display                   : block;
      margin                    : rem-calc(32) auto;
    }
  }
  ul,
  ol {
    margin-top                  : rem-calc(16);
  }
}

ul {
  ul {
    list-style-type             : circle;
  }
}

//----------------------------------------------------------------------------------------------
// CONTENT LIST
//----------------------------------------------------------------------------------------------
.content.list {
  margin-top                    : rem-calc(48);
}

//----------------------------------------------------------------------------------------------
// MODULES
//----------------------------------------------------------------------------------------------
ul.modules-list {
  list-style-type               : none;
  margin-left                   : 0;
  li.module {
    padding-left                : rem-calc(82);
    background-size             : rem-calc(48 48);
    background-position         : rem-calc(0 5);
    background-repeat           : no-repeat;
    &.contaminant-transport {
      background-image          : url(/Images/Content/Product/ContaminantTransport.Icon.png);
    }
    &.reliability {
      background-image          : url(/Images/Content/Product/Reliability.Icon.png);
    }
    &.financial {
      background-image          : url(/Images/Content/Product/Financial.Icon.png);
    }
    &.dashboard-authoring {
      background-image          : url(/Images/Content/Product/DashboardAuthoring.Icon.png);
    }
    &.distributed-processing {
      background-image          : url(/Images/Content/Product/DistributedProcessing.Icon.png);
    }
  }
}

//----------------------------------------------------------------------------------------------
// TRACKED NAVIGATION
//----------------------------------------------------------------------------------------------
// Currently, this is used by the UnitList and LessonList view components for displaying user
// progress tracking through the GoldSim courseware.
//----------------------------------------------------------------------------------------------
.lesson-list {
  ol {
    margin-left                 : 0px;
    margin-top                  : rem-calc(80);
    li {
      padding-left              : rem-calc(6);
    }
    a {
      color                     : $palette-black;
      border-bottom             : 0px;
    }
    li.selected a {
      border-bottom             : 2px solid $palette-yellow;
    }
  }
}

.unit-list {
  ol {
    margin-top                  : 0px;
    margin-bottom               : 0px;
  }
}

.track-progress {

  .panel h1, li {

    a:before {
      @include fa-icon;
      font-family               : 'Font Awesome 5 Free';
      color                     : $palette-yellow;
      font-size                 : smaller;
    }

    &.unstarted a:before {
      content                   : fa-content($fa-var-circle);
    }

    &.incomplete a:before {
      content                   : fa-content($fa-var-dot-circle);
    }

    &.complete a:before {
      content                   : fa-content($fa-var-check-circle);
    }

  }
}