@model LessonTopicViewModel

@{
  ViewBag.Title = Model.Title;
}

<nav class="cell show-for-large large-2">
  <vc:lesson-list />
</nav>

<section class="panel cell medium-12 large-10">
  <h1>@Model.Title</h1>
  @Html.Raw(Model.Body)

  <nav>
    <vc:lesson-paging move-next="false" />
    <vc:lesson-paging move-next="true" />
  </nav>

</section>

<!--
  Content Type: Lesson
  View Location: ~/Areas/Courses/Views/ContentTypes/Lesson.cshtml
-->