@model AnnouncementViewModel

<!-- Announcement -->
<div id="SiteAnnouncement" data-closable class="alert-box announcement callout warning">
  @Model.Label
  <a href="@Model.Url">Learn more</a>.
</div>

<!-- View Location: ~/Views/Shared/Components/Announcement/Default.cshtml -->