@model GoldSim.Web.Models.Associations.AssociatedTopicViewModel

<!-- Announcement -->
<div id="SiteAnnouncement" data-closable class="alert-box announcement callout warning">
  @Model.Title
  <a href="@Model.WebPath">Learn more</a>.
</div>

<!-- View Location: ~/Views/Shared/Components/Announcement/Default.cshtml -->