@model TopicViewModel

@{
  Layout = "~/Views/Layout/_Layout.cshtml";

  Topic fieldCategories    = Model.TopicRepository.Load().GetTopic("Configuration:Metadata:FieldCategories:LookupList");
  Topic papers             = Model.TopicRepository.Load().GetTopic("Web:Applications:TechnicalPapers:ContentItems");
}

@section PageBodySection {

  <section class="panel body">

    <article class="page body">
      @Html.Raw(HttpUtility.HtmlDecode(@Model.Topic.Attributes.Get("Body")))
    </article>

    @foreach (Topic fieldCategory in fieldCategories) {
      <h1>@fieldCategory.Title</h1>
      @Html.Partial("_TechnicalPaperList", papers.Where(t => t.Attributes.Get("Category").Equals(fieldCategory.Key)).ToList())
    }

  </section>

}

<!--
  Content Type: Technical Paper List
  View Location: ~/Views/TechnicalPaperList/TechnicalPaperList.cshtml
-->
