@{
  ViewBag.Title = "Search";
  Layout = "~/Views/Layout/_Layout.cshtml";
}

@section Head {
  <link rel="stylesheet" href="~/Shared/Styles/Views/Search.css" type="text/css" media="all" />
}

@section PageBodySection {
  <section class="panel body">

    <!-- Body Content -->
    <article class="page body search results">
      <gcse:search queryParameterName="SearchText" enableAutoComplete="true"></gcse:search>
    </article>
    <!-- /Body Content -->

  </section>
}

@section Scripts {
  <script>
    $(function () {

      var resetSearchButtonSrc  = setInterval(function(){
        console.log($('input.gsc-search-button').attr('title'));
        if ($('.gsc-search-button input[type="image"]').attr('src').indexOf('search_box_icon') > -1) {
          $('.gsc-search-button input[type="image"]').attr('src', '/Images/Icons/Search.Icon.png');
          stopSrcReset();
        }
      }, 750);

      function stopSrcReset() {
        clearInterval(resetSearchButtonSrc);
      }

    });
  </script>
}