@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

@{
  ViewBag.Title = "Search";
  Layout = "~/Views/Layout/_Layout.cshtml";
}

@section Head {
  <link rel="stylesheet" href="~/Shared/Styles/Views/Search.css" type="text/css" media="all" asp-append-version="true" />
}

<section class="panel">

  <!-- Form -->
  <form id="SearchResultSearchForm" action="/Web/Search/">
    <input type="search" id="SearchResultsSearchQuery" name="SearchText" />
  </form>

  <!-- Form -->
  <div id="SearchResults"></div>

  <!-- Pagination -->
  <nav>
    <a class="button primary large left" id="PreviousPage" href="#">Previous</a>
    <a class="button primary large right" id="NextPage" href="#">Next</a>
  </nav>

</section>

@section Scripts {
  <script src="/Shared/Scripts/Views/Search.js" defer asp-append-version="true"></script>
}

@section InlineScript {

  $("#SearchResults").bingSearch({
    apiKey                      : '@Configuration["BingSearch:PrimaryApiKey"]',
    customConfig                : '@Configuration["BingSearch:CustomConfigID"]'
  })

}