@model Profile

@Html.EditorFor(model => model.ReferralSource, "Select", new { })
@Html.EditorFor(model => model.ReferralDetails)

<div class="cell">
  <p class="instructions">Please provide additional details for other search engines, journal name, specific trade show, etc.</p>
</div>

<!-- View Location: ~/Views/Forms/_Referral.cshtml -->
