@model ModuleSelection

<div class="medium-6 cell">
  @Html.EditorFor(model => model.RadionuclideTransport)
  @Html.EditorFor(model => model.ContaminantTransport)
</div>

<!-- View Location: ~/Views/Forms/_TransportModules.cshtml -->