@model TopicViewModel

@{
  ViewBag.Title = Model.Topic.Title;
  Layout = "~/Views/Layout/_Layout.cshtml";
}

@section PageBodySection {

  <section class="panel body">

    <!-- Description -->
    <article class="page body">
      @Html.Raw(@Model.Topic.Attributes.Get("Body"))
    </article>
    <!-- /Description -->

    <!-- Video Area -->
    <div class="video-wrapper">
      <video controls@(!String.IsNullOrEmpty(Model.Topic.Attributes.Get("PosterURL")) ? "poster=\"@Model.Topic.Attributes.Get("PosterURL")\" : "")>
        <source src="@Model.Topic.Attributes.Get("VideoURL")" type="video/mp4" />
        Your browser does not support the HTML5 video.
      </video>
    </div>
    <!-- /Video Area -->

  </section>

}

<!--
  Content Type: Video
  View Location: ~/Views/Video/Video.cshtml
-->
