//==============================================================================================
// SEARCH BAR
//----------------------------------------------------------------------------------------------
// Defines styles associated with with the (Google Custom) site search.
//----------------------------------------------------------------------------------------------
// NOTE: If this component requires its own helpers, they should be defined in a separate
// _placeholders.scss, _mixins.scss, or _functions.scss file and imported here.
//==============================================================================================

//----------------------------------------------------------------------------------------------
// IMPORTS
//----------------------------------------------------------------------------------------------
@import "../../variables";

//----------------------------------------------------------------------------------------------
// VARIABLES
//----------------------------------------------------------------------------------------------

//----------------------------------------------------------------------------------------------
// OVERRIDES
//----------------------------------------------------------------------------------------------
// NOTE: These should be moved to a centralized _overrides.scss file. For discoverability,
// however, the overrides are being placed here instead.
//----------------------------------------------------------------------------------------------
form.gsc-search-box.gsc-search-box-tools {
  margin-bottom                 : 0;
  font-size                     : $body-text-size;
  td.gsc-search-button,
  td.gsc-clear-button,
  td.gsib_b {
    display                     : none;
  }
  table.gsc-search-box {
    padding-right               : 0;
    td.gsc-input {
      padding                   : 0;
      background-color          : transparent;
      .gsc-input-box {
        border                  : 0 none transparent;
        background-color        : transparent;
        table {
          margin-bottom         : 0;
          width                 : auto;
          tbody {
            border              : 0 none transparent;
            background-color    : transparent;
          }
          td.gsib_a {
            padding             : 0;
          }
        }
      }
    }

  }
}

//----------------------------------------------------------------------------------------------
// CORE
//----------------------------------------------------------------------------------------------
.search {

  &.title-bar-right {
    position                    : relative;
    height                      : 100%;
  }

  &.form {
    position                    : absolute;
    top                         : 0;
    right                       : 0;
    bottom                      : 0;
    padding-right               : rem-calc(40);
    &.closed {
      .gsc-control-searchbox-only {
        width                   : 0;
      }
     .icon {
        background-image          : url('/Images/Icons/Search.Icon.png');
      }
    }
    div#___gcse_0,
    button {
      display                   : table-cell;
    }
  }

  input {
    background-color            : $palette-yellow !important;   // !important needed for GCSE
    box-shadow                  : none;
  }

  // Buttons
  .icon {
    min-width                   : rem-calc(32);
    width                       : rem-calc(32);
    min-height                  : rem-calc(32);
    background-position         : center center;
    background-size             : contain;
    background-repeat           : no-repeat;
    background-color            : transparent;
    cursor                      : pointer;
  }

}