@model UnitListViewModel

@if (Model.NavigationRoot is not null) {

  <!-- Unit Navigation -->
  <nav role="navigation" class="unit-list track-progress">
    <div class="grid-container">
      <div class="grid-x">
        <ul>
          @foreach (var topic in Model.NavigationRoot.Children) {
            <li class="@topic.GetCssClass()">
              <a href="@topic.WebPath">
                @(topic.ShortTitle?? topic.Title)
              </a>
            </li>
          }
        </ul>
      </div>
    </div>
  </nav>
  <!-- /Unit Navigation -->

  <partial name="_TrackEvents" for="TrackingEvents" />

}

<!--
  Content Type: NavigationViewModel<TrackedNavigationTopicViewModel>
  View Location: ~/Areas/Courses/Views/Shared/Components/UnitList/Default.cshtml
-->