@model TopicViewModel

@{
  Layout = "~/Views/Layout/_Layout.cshtml";
  ViewBag.Title = "Internal Server Error";
}

@section PageBodySection {
  <section class="panel body">
    <h1>Oops!</h1>
    <p>Something has gone terribly wrong. Please <a href="mailto:support@goldsim.com">contact GoldSim</a> to report the issue or <a href="/">return to our homepage</a>.</p>
  </section>
}

@section CallsToActionSection {}

