@model TopicViewModel

@{
  Layout = "~/Views/Layout/_Layout.cshtml";
  ViewBag.Title = "Page Not Found";
}

@section PageBodySection {
  <section class="panel body">
    <h1>Oops!</h1>
    <p>The page you requested could not be found.</p>
  </section>
}

@section CallsToActionSection {}