@model Int32

@{
  if (!ViewData.TryGetValue("cssClass", out var cssClass)) {
    cssClass = "medium-6";
  }
  ViewData.TryGetValue("style", out var style);
}

<div class="@cssClass cell form-field" style=@style>
  <label asp-for="@Model" class="@(ViewData.ModelMetadata.IsRequired? "required" : "")"></label>
  <input asp-for="@Model" class="field" />
</div>

<!-- View Location: ~/Areas/Forms/Views/EditorTemplates/String.cshtml -->