@model String

@{
  if (!ViewData.TryGetValue("cssClass", out var cssClass)) {
    cssClass = "";
  }
  ViewData.TryGetValue("style", out var style);
}

<div class="@cssClass cell form-field" style=@style>
  <label asp-for="@Model" class="@(ViewData.ModelMetadata.IsRequired? "required" : "")"></label>
  <textarea asp-for="@Model" class="field"></textarea>
</div>

<!-- View Location: ~/Areas/Forms/Views/EditorTemplates/TextArea.cshtml -->