//==============================================================================================
// ANNOUNCEMENT
//----------------------------------------------------------------------------------------------
// Defines styles associated with with the top-of-page announcement alert.
//----------------------------------------------------------------------------------------------
// NOTE: If this component requires its own helpers, they should be defined in a separate
// _placeholders.scss, _mixins.scss, or _functions.scss file and imported here.
//==============================================================================================

//----------------------------------------------------------------------------------------------
// IMPORTS
//----------------------------------------------------------------------------------------------
@import "../../variables";

//----------------------------------------------------------------------------------------------
// CORE
//----------------------------------------------------------------------------------------------
.alert-box {
  &.announcement {
    float                       : none;
    margin                      : 0;
    border                      : 0 none transparent;
    padding-right               : rem-calc(40);
    padding-left                : rem-calc(40);
    text-align                  : left;
    background-color            : $palette-yellow;
    a {
      font-weight               : 600;
      text-decoration           : underline;
    }
    button {
      &.close-button {
        top                     : 0;
        right                   : rem-calc(36);
        font-size               : rem-calc(56);
        color                   : $palette-black
      }
    }
  }
}