@model NavigationViewModel

<!-- CTAs Area -->
<aside id="CTAs" class="ctas panel off-screen" data-sticky data-stick-to="bottom" data-btm-anchor="SiteFooter" data-margin-bottom="0">
  <div class="grid-container">
    <div class="grid-x grid-margin-x">

      @ctaContents()

    </div>
  </div>
</aside>
<!-- /CTAs Area -->

@helper ctaContents() {

  string currentPath            = Model.Topic.WebPath.ToLower();
  string ctaType                = "general";
  if (currentPath.Contains("purchase")) {
    ctaType                     = "purchase";
  }
  if (currentPath.Contains("customers")) {
    ctaType                     = "customers";
  }

  <div class="show-for-large large-4 cell">
    <h1>@(ctaType.Equals("customers") ? "Need Support?" : (ctaType.Equals("purchase") ? "Ready to Buy?" : "See it in action"))</h1>
  </div>

  <div class="medium-12 large-8 cell">
    <div class="stacked-for-small button-group">
      @if (ctaType.Equals("customers")) {
        <a href="https://support.goldsim.com/hc/en-us/requests/new" class="button large cta-support">Submit a Request &raquo;</a>
        <a href="https://support.goldsim.com/hc/en-us/community/topics" class="button large cta-forums">Visit Forums &raquo;</a>
      }
      else if (ctaType.Equals("purchase")) {
        <a href="/Forms/BuyGoldSim.aspx" class="button large cta-buy">Purchase GoldSim &raquo;</a>
        <a href="/Forms/Quote.aspx" class="button large cta-quote">Request a Quote &raquo;</a>
      }
      else {
        <a href="/Forms/Demo.aspx" class="button large cta-demo">Request a Web Demo &raquo;</a>
        <a href="/Forms/Evaluation.aspx" class="button large cta-eval">Request a Trial Version &raquo;</a>
      }
    </div>
  </div>

}