@model NavigationViewModel

<!-- CTAs Area -->
<aside id="CTAs" class="ctas panel" data-sticky data-stick-to="bottom" data-btm-anchor="SiteFooter" data-margin-bottom="0">
  <div class="grid-container">
    <div class="grid-x grid-margin-x">

      <div class="show-for-large large-4 cell">
        <h1>See it in action</h1>
      </div>

      <div class="medium-12 large-8 cell">
        <div class="stacked-for-small button-group">
          <a href="/Forms/Demo.aspx" class="button large demo">Request a Web Demo &raquo;</a>
          <a href="/Forms/Evaluation.aspx" class="button large eval">Request a Trial Version &raquo;</a>
        </div>
      </div>

    </div>
  </div>
</aside>
<!-- /CTAs Area -->

