@model GoldSim.Web.Models.NavigationViewModel

<!-- CTAs Area -->
<aside id="CTAs" class="ctas panel">
  <div class="grid-container">
    <div class="grid-x grid-margin-x">

      <div class="medium-4 cell">
        <h1>See it in action</h1>
      </div>

      <div class="medium-8 cell">
        <div class="stacked-for-small button-group">
          <a href="/Forms/Evaluation.aspx" class="button large demo">Schedule an Online Demo &raquo;</a>
          <a href="/Forms/Evaluation.aspx" class="button large eval">Request an Evaluation &raquo;</a>
        </div>
      </div>

    </div>
  </div>
</aside>
<!-- /CTAs Area -->

