@model GoldSim.Web.Models.NavigationViewModel

@if (Model.NavigationRootTopic != null) {
  <!-- Page Navigation Area -->
  <nav id="PageNavigation" class="navigation" role="navigation">
    <ul>
      @foreach (Ignia.Topics.Topic topic in @Model.NavigationRootTopic) {
        if (topic.Attributes.Get("IsHidden", "0").Equals("0")) {
          <li><a href="@topic.WebPath" class="@((Model.Topic == topic)? "selected" : "")">@topic.Title</a></li>
        }
      }
    </ul>
  </nav>
  <!-- /Page Navigation Area -->
}
