//==============================================================================================
// ANNOUNCEMENT
//----------------------------------------------------------------------------------------------
// Defines styles associated with with the top-of-page announcement alert.
//----------------------------------------------------------------------------------------------
// NOTE: If this component requires its own helpers, they should be defined in a separate
// _placeholders.scss, _mixins.scss, or _functions.scss file and imported here.
//==============================================================================================

//----------------------------------------------------------------------------------------------
// IMPORTS
//----------------------------------------------------------------------------------------------
@import "../../variables";

//----------------------------------------------------------------------------------------------
// CORE
//----------------------------------------------------------------------------------------------
.alert-box {
  float                         : none;
  margin                        : 0;
  border                        : 0 none transparent;
  padding-right                 : rem-calc(40);
  padding-left                  : rem-calc(40);
  text-align                    : center;
  &.announcement {
    background-color            : $palette-yellow;
    a {
      font-weight               : 600;
      text-decoration           : underline;
      &:hover,
      &:focus,
      &:active,
      &:visited {
        color                   : $palette-black;
        text-decoration         : underline;
      }
    }
    i.fa {
      position                  : relative;
      top                       : 3px;
      margin-right              : 6px;
      font-size                 : 24px;
      @include breakpoint(767px down) {
        display                 : block;
        top                     : 0;
        margin-right            : 0;
        margin-bottom           : 6px;
      }
    }
    button {
      &.close-button {
        top                     : 0;
        right                   : rem-calc(36);
        font-size               : rem-calc(56);
        color                   : $palette-black;
      }
    }
  }
  &.notice {
    color                       : $palette-white;
    background-color            : $palette-blue;
  }
}