//==============================================================================================
// LESSON LIST
//----------------------------------------------------------------------------------------------
// Defines styles for the lessons list view component. This is specific to the GoldSim coursware
// functionality.
//----------------------------------------------------------------------------------------------
// NOTE: If this component requires its own helpers, they should be defined in a separate
// _placeholders.scss, _mixins.scss, or _functions.scss file and imported here.
//==============================================================================================

//----------------------------------------------------------------------------------------------
// IMPORTS
//----------------------------------------------------------------------------------------------
@import "../../variables";
@import "../../foundationSettings";

//----------------------------------------------------------------------------------------------
// CORE
//----------------------------------------------------------------------------------------------
.lesson-list {
  ol {
    counter-reset               : item;
    padding-right               : 5px;
  }
  ol li {
    display                     : block;
  }
  ol li:before {
    counter-increment: item;
  }
}