@model FormPageTopicViewModel<NewsletterFormBindingModel>

@section PageBodySection {

  <fieldset>
    <div class="grid-x grid-margin-x">
      <partial name="_CoreContact" for="BindingModel" />
      @Html.EditorFor(model => model.BindingModel.Country, "Select")
    </div>
  </fieldset>

  <fieldset>
    <legend>Subscribe to…</legend>
    <div class="grid-x grid-margin-x">
      @Html.EditorFor(model => model.BindingModel.IncludeNewsletter, new { cssClass = "medium-12" })
      @Html.EditorFor(model => model.BindingModel.IncludeWebinar, new { cssClass = "medium-12" })
    </div>
  </fieldset>


}

@section CancelButton {
  <div class="medium-6 cell text-right">
    <button type="submit" value="Removal" name="RequestType" class="button large secondary">Unsubscribe</button>
  </div>
}