@model Contact

<partial name="_CoreContact" for="@Model" />

<div class="cell field instructions">
  Only institutional email domains are accepted. Email addresses of free domains (yahoo.com, gmail.com, etc.) are not accepted nor processed. You can refer to our <a href="/Topic/4222/">privacy policy</a> regarding how we use your email address.
</div>

<partial name="_ContactLocation" for="@Model" />

<!-- View Location: ~/Views/Forms/_Contact.cshtml -->
