@model Contact

<div class="medium-6 cell form-field">
  <partial name="_Country" for="@Model" />
</div>
<partial name="_PhoneNumber" for="@Model" />

<!-- View Location: ~/Views/Forms/_ContactLocation.cshtml -->
