@model CoreContact

<div class="grid-x grid-margin-x">

  <div class="medium-6 cell form-field">
    <label asp-for="FirstName" class="label"></label>
    <input asp-for="FirstName" class="field" />
    <span asp-validation-for="FirstName" class="text-danger"></span>
  </div>
  <div class="medium-6 cell form-field">
    <label asp-for="LastName" class="label"></label>
    <input asp-for="LastName" class="field" />
    <span asp-validation-for="LastName" class="text-danger"></span>
  </div>

  <div class="medium-6 cell form-field">
    <label asp-for="Organization" class="label"></label>
    <input asp-for="Organization" class="field" />
    <span asp-validation-for="Organization" class="text-danger"></span>
  </div>
  <div class="medium-6 cell form-field">
    <label asp-for="Email" class="label"></label>
    <input asp-for="Email" class="field" />
    <span asp-validation-for="Email" class="text-danger"></span>
  </div>

  <p id="EmailInstructions" class="field instructions">
    Only institutional email domains are accepted. Email addresses of free domains (yahoo.com, gmail.com, etc.) are not accepted nor processed. You can refer to our <a href="/Topic/4222/">privacy policy</a> regarding how we use your email address.
  </p>

</div>

<!-- View Location: ~/Views/Forms/_CoreContact.cshtml -->
