@model CoreContact

<div class="medium-6 cell form-field">
  <label asp-for="FirstName" class="label"></label>
  <input asp-for="FirstName" class="field" />
  <span asp-validation-for="FirstName" class="text-danger"></span>
</div>
<div class="medium-6 cell form-field">
  <label asp-for="LastName" class="label"></label>
  <input asp-for="LastName" class="field" />
  <span asp-validation-for="LastName" class="text-danger"></span>
</div>

<div class="medium-6 cell form-field">
  <label asp-for="Organization" class="label"></label>
  <input asp-for="Organization" class="field" />
  <span asp-validation-for="Organization" class="text-danger"></span>
</div>
<div class="medium-6 cell form-field">
  <label asp-for="Email" class="label"></label>
  <input asp-for="Email" class="field" />
  <span asp-validation-for="Email" class="text-danger"></span>
</div>

<!-- View Location: ~/Views/Forms/_CoreContact.cshtml -->
