@model Contact

<div class="cell form-field">
  <label asp-for="Country" class="label"></label>
  <input asp-for="Country" class="field" />
  <span asp-validation-for="Country" class="text-danger"></span>
</div>

<!-- View Location: ~/Views/Forms/_Country.cshtml -->