@model ModuleSelection

<partial name="_TransportModules" for="@Model" />

<div class="medium-6 cell">
  @Html.EditorFor(model => model.Reliability)
  @Html.EditorFor(model => model.DistributedProcessing)
</div>

<!-- View Location: ~/Views/Forms/_Modules.cshtml -->