@model Contact

<div class="medium-6 cell form-field">
  <label asp-for="PhoneNumber" class="label"></label>
  <input asp-for="PhoneNumber" class="field" type="tel" />
  <span asp-validation-for="PhoneNumber" class="text-danger"></span>
</div>

<!-- View Location: ~/Views/Forms/_PhoneNumber.cshtml -->