@model PurchaseBindingModel

@Html.EditorFor(model => model.Product)
@Html.EditorFor(model => model.LicenseType)

@Html.EditorFor(model => model.Quantity)

<div class="medium-6 cell form-field">
  <label>Add-on Modules:</label>
  <partial name="_modules" for="Modules" />
  <div class="medium-6 cell" style="margin-bottom: 1rem;">
    @Html.EditorFor(model => model.Modules.QuickStartPackage)
  </div>
</div>
