@model Profile

<div class="medium-6 cell Referral Select">
  <label asp-for="ReferralSource" class="label"></label>
  <input asp-for="ReferralSource" class="field form-field" type="text" />
  <span asp-validation-for="ReferralSource" class="text-danger"></span>
</div>

@Html.EditorFor(model => model.ReferralDetails)

<div class="cell">
  <p class="instructions">Please provide additional details for other search engines, journal name, specific trade show, etc.</p>
</div>

<!-- View Location: ~/Views/Forms/_Referral.cshtml -->
