@model Profile

<div class="medium-6 cell form-field select">
  <label asp-for="AreaOfFocus" class="label"></label>
  <input asp-for="AreaOfFocus" class="field" />
  <span asp-validation-for="AreaOfFocus" class="text-danger"></span>
</div>
@Html.EditorFor(model => model.AreaOfFocusOther)

@Html.EditorFor(model => model.ProblemStatement, "TextArea")

<!-- View Location: ~/Views/Forms/_Requirements.cshtml -->
