@model ExtendedProfile

<div class="cell">
  <div class="checkbox">
    <input type="checkbox" asp-for="AcceptTermsOfUse" />
    <label asp-for="AcceptTermsOfUse">I agree to these terms of use. I also agree to receive the GoldSim newsletter.</label>
  </div>
  <p class="instructions">Note: the GoldSim newsletter is sent a few times a year, and you may unsubscribe at any time.</p>
</div>

<!-- View Location: ~/Views/Forms/_TermsOfUse.cshtml -->