@model FormPageTopicViewModel<TrialFormBindingModel>

@section PageBodySection {

  <section class="panel body">
    @Html.Raw(Model.Body)

    <form asp-action="Trial">
      <div asp-validation-summary="All" class="text-danger validation-instructions"></div>

      <fieldset>
        <div class="grid-x grid-margin-x">

          <partial name="_Contact" for="BindingModel" />
          <partial name="_Requirements" for="BindingModel" />

          <div class="cell">
            <label asp-for="BindingModel.OtherTools" class="label"></label>
            <textarea asp-for="BindingModel.OtherTools" class="form-field"></textarea>
            <span asp-validation-for="BindingModel.OtherTools" class="text-danger"></span>
          </div>

          <div class="cell">
            <label>GoldSim Trials include the Financial, Reliability, Dashboard Authoring and Distributed Processing Modules.</label>
            <label>I am also interested in:</label>
          </div>

          <div class="medium-6 cell" style="margin-bottom: 1rem;">
            <div class="checkbox">
              <input type="checkbox" asp-for="BindingModel.Modules.RadionuclideTransport" />
              <label asp-for="BindingModel.Modules.RadionuclideTransport"></label>
              <span asp-validation-for="BindingModel.Modules.RadionuclideTransport" class="text-danger"></span>
            </div>
            <div class="checkbox">
              <input type="checkbox" asp-for="BindingModel.Modules.ContaminantTransport" />
              <label asp-for="BindingModel.Modules.ContaminantTransport"></label>
              <span asp-validation-for="BindingModel.Modules.ContaminantTransport" class="text-danger"></span>
            </div>
          </div>

          <partial name="_Referral" for="BindingModel" />

          <!-- Training Course Check -->
          <div id="TrainingCourseCheckField" class="cell" style="margin-top: 1rem;">
            <div class="checkbox">
              <input name="IsTrainingCourse" id="TrainingCourseCheck" type="checkbox" />
              <label for="TrainingCourseCheck">Are you using this Trial Version for a training course?</label>
            </div>
          </div>

        </div>
      </fieldset>

      <fieldset>
        <legend>Trainer Contact Information</legend>
        <partial name="_OptionalContact" for="BindingModel.Trainer" />
      </fieldset>

      <fieldset>
        <legend>Terms of Use</legend>
        <div class="grid-x grid-margin-x">

          <div class="cell">
            <p>By checking the box below I agree to the following:</p>
            <ol>
              <li>I will only use this free Trial Version for the purpose of evaluating and/or testing the software or taking a GoldSim training course.</li>
              <li>I will <em>not</em> use this free Trial Version for consulting or other commercial applications. If I require a temporary license for such purposes, I will <a href="mailto:support@goldsim.com">contact the GoldSim Technology Group</a>.</li>
            </ol>
          </div>

          <div class="cell">
            <div class="checkbox">
              <input type="checkbox" asp-for="BindingModel.AcceptTermsOfUse" />
              <label asp-for="BindingModel.AcceptTermsOfUse">I agree to these terms of use. I also agree to receive the GoldSim newsletter.</label>
            </div>
            <p class="instructions">Note: the GoldSim newsletter is sent a few times a year, and you may unsubscribe at any time.</p>
            <span id="ContentContainer_Content_TouAndNewsletterCheck_ctl01" style="display:none;"></span>
          </div>

        </div>
      </fieldset>

      <input type="submit" value="Request Trial" class="submit button large primary" />

    </form>
  </section>

}

@section Scripts {
  @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
