@model FormPageTopicViewModel<UserConferenceFormBindingModel>

@section PageBodySection {

  <section class="panel body">
    @Html.Raw(Model.Body)

    <form asp-action="UserConference">

      <div asp-validation-summary="All" class="text-danger validation-instructions"></div>

      <fieldset>
        <legend>Contact Information</legend>
        <div class="grid-x grid-margin-x">
          <partial name="_ExtendedContact" for="BindingModel" />
          <div class="medium-6 cell form-field">
            <label asp-for="BindingModel.FaxNumber"></label>
            <input asp-for="BindingModel.FaxNumber" type="tel"></input>
            <span asp-validation-for="BindingModel.FaxNumber" class="text-danger"></span>
          </div>
        </div>
      </fieldset>

      <fieldset>
        <legend>Poster Session</legend>
        <div class="grid-x grid-margin-x">
          <div class="cell checkbox">
            <input type="checkbox" asp-for="BindingModel.WillSubmitPoster" />
            <label asp-for="BindingModel.WillSubmitPoster"></label>
            <span asp-validation-for="BindingModel.WillSubmitPoster" class="text-danger"></span>
            <p style="margin-top: 1rem;"><em>We will follow up with instructions for submitting and presenting your poster at the conference.</em> <strong>Poster presenters will be entered into a drawing for a $500 Amazon gift certificate. Attendees will also vote on a Best Poster, with the winner receiving a $500 Amazon gift certificate.</strong></p>
          </div>
        </div>
      </fieldset>

      <fieldset>
        <legend>Advanced Training Topics</legend>
        <div class="grid-x grid-margin-x">
          <div class="cell">
            <p>The first day of the conference (September 11) will consist of two parallel sessions on advanced GoldSim applications and modeling techniques. Attendees will be able to move between the two sessions (each topic will last approximately 1 hour) in order to select the topics that best align with their interests. Topics will be based on attendee requests specified below:</p>
          </div>
          <div class="medium-6 cell">
            <div class="checkbox">
              <input type="checkbox" asp-for="BindingModel.TrainingTopics.Scripts" />
              <label asp-for="BindingModel.TrainingTopics.Scripts"></label>
              <span asp-validation-for="BindingModel.TrainingTopics.Scripts" class="text-danger"></span>
            </div>
            <div class="checkbox">
              <input type="checkbox" asp-for="BindingModel.TrainingTopics.DiscreteEventModeling" />
              <label asp-for="BindingModel.TrainingTopics.DiscreteEventModeling"></label>
              <span asp-validation-for="BindingModel.TrainingTopics.DiscreteEventModeling" class="text-danger"></span>
            </div>
            <div class="checkbox">
              <input type="checkbox" asp-for="BindingModel.TrainingTopics.ModelingScenarios" />
              <label asp-for="BindingModel.TrainingTopics.ModelingScenarios"></label>
              <span asp-validation-for="BindingModel.TrainingTopics.ModelingScenarios" class="text-danger"></span>
            </div>
            <div class="checkbox">
              <input type="checkbox" asp-for="BindingModel.TrainingTopics.TimesteppingTechniques" />
              <label asp-for="BindingModel.TrainingTopics.TimesteppingTechniques"></label>
              <span asp-validation-for="BindingModel.TrainingTopics.TimesteppingTechniques" class="text-danger"></span>
            </div>
            <div class="checkbox">
              <input type="checkbox" asp-for="BindingModel.TrainingTopics.ModelCalibration" />
              <label asp-for="BindingModel.TrainingTopics.ModelCalibration"></label>
              <span asp-validation-for="BindingModel.TrainingTopics.ModelCalibration" class="text-danger"></span>
            </div>
            <div class="checkbox">
              <input type="checkbox" asp-for="BindingModel.TrainingTopics.DashboardAuthoring" />
              <label asp-for="BindingModel.TrainingTopics.DashboardAuthoring"></label>
              <span asp-validation-for="BindingModel.TrainingTopics.DashboardAuthoring" class="text-danger"></span>
            </div>
            <div class="checkbox">
              <input type="checkbox" asp-for="BindingModel.TrainingTopics.CausalitySequence" />
              <label asp-for="BindingModel.TrainingTopics.CausalitySequence"></label>
              <span asp-validation-for="BindingModel.TrainingTopics.CausalitySequence" class="text-danger"></span>
            </div>
            <div class="checkbox">
              <input type="checkbox" asp-for="BindingModel.TrainingTopics.ReliabilityModeling" />
              <label asp-for="BindingModel.TrainingTopics.ReliabilityModeling"></label>
              <span asp-validation-for="BindingModel.TrainingTopics.ReliabilityModeling" class="text-danger"></span>
            </div>
            <div class="checkbox">
              <input type="checkbox" asp-for="BindingModel.TrainingTopics.GeochemicalCalculations" />
              <label asp-for="BindingModel.TrainingTopics.GeochemicalCalculations"></label>
              <span asp-validation-for="BindingModel.TrainingTopics.GeochemicalCalculations" class="text-danger"></span>
            </div>
          </div>
          <div class="medium-6 cell">
            <div class="checkbox">
              <input type="checkbox" asp-for="BindingModel.TrainingTopics.ModelingPumps" />
              <label asp-for="BindingModel.TrainingTopics.ModelingPumps"></label>
              <span asp-validation-for="BindingModel.TrainingTopics.ModelingPumps" class="text-danger"></span>
            </div>
            <div class="checkbox">
              <input type="checkbox" asp-for="BindingModel.TrainingTopics.ModelingReservoirOperations" />
              <label asp-for="BindingModel.TrainingTopics.ModelingReservoirOperations"></label>
              <span asp-validation-for="BindingModel.TrainingTopics.ModelingReservoirOperations" class="text-danger"></span>
            </div>
            <div class="checkbox">
              <input type="checkbox" asp-for="BindingModel.TrainingTopics.ModelingRunoff" />
              <label asp-for="BindingModel.TrainingTopics.ModelingRunoff"></label>
              <span asp-validation-for="BindingModel.TrainingTopics.ModelingRunoff" class="text-danger"></span>
            </div>
            <div class="checkbox">
              <input type="checkbox" asp-for="BindingModel.TrainingTopics.StochasticWeatherGeneration" />
              <label asp-for="BindingModel.TrainingTopics.StochasticWeatherGeneration"></label>
              <span asp-validation-for="BindingModel.TrainingTopics.StochasticWeatherGeneration" class="text-danger"></span>
            </div>
            <div class="checkbox">
              <input type="checkbox" asp-for="BindingModel.TrainingTopics.RiverRouting" />
              <label asp-for="BindingModel.TrainingTopics.RiverRouting"></label>
              <span asp-validation-for="BindingModel.TrainingTopics.RiverRouting" class="text-danger"></span>
            </div>
            <div class="checkbox">
              <input type="checkbox" asp-for="BindingModel.TrainingTopics.ModelingFlowNetworks" />
              <label asp-for="BindingModel.TrainingTopics.ModelingFlowNetworks"></label>
              <span asp-validation-for="BindingModel.TrainingTopics.ModelingFlowNetworks" class="text-danger"></span>
            </div>
            <div class="checkbox">
              <input type="checkbox" asp-for="BindingModel.TrainingTopics.ModelingPopulationGrowth" />
              <label asp-for="BindingModel.TrainingTopics.ModelingPopulationGrowth"></label>
              <span asp-validation-for="BindingModel.TrainingTopics.ModelingPopulationGrowth" class="text-danger"></span>
            </div>
            <div class="checkbox">
              <input type="checkbox" asp-for="BindingModel.TrainingTopics.Other" />
              <label asp-for="BindingModel.TrainingTopics.Other"></label>
              <span asp-validation-for="BindingModel.TrainingTopics.Other" class="text-danger"></span>
            </div>
          </div>
          <div class="cell form-field">
            <div class="checkbox">
              <label asp-for="BindingModel.TrainingTopics.OtherDetails"></label>
              <input asp-for="BindingModel.TrainingTopics.OtherDetails" type="text" />
              <span asp-validation-for="BindingModel.TrainingTopics.OtherDetails" class="text-danger"></span>
            </div>
          </div>

        </div>
      </fieldset>

      <fieldset>
        <legend>Conference Options</legend>
        <div class="grid-x grid-margin-x">
          <div class="cell checkbox">
            <input type="checkbox" asp-for="BindingModel.WithStudentDiscount" />
            <label asp-for="BindingModel.WithStudentDiscount"></label>
            <span asp-validation-for="BindingModel.WithStudentDiscount" class="text-danger"></span>
          </div>
          <div class="cell">
            <label><input asp-for="BindingModel.IncludeTraining" type="radio" value="true" /> User Conference Only (September 11-12): $1,250</label>
            <label><input asp-for="BindingModel.IncludeTraining" type="radio" value="true" /> Basic Training and Conference (September 10-12): $1,500</label>
            <span class="instructions">Costs include breakfast and lunch each day, as well as dinner during the social events on the evenings of September 10 and 11. Spouses/partners can also attend the two dinners for a modest fee.</span>
          </div>
        </div>
      </fieldset>

      <fieldset>
        <legend>Payment Information</legend>
        <div class="grid-x grid-margin-x">
          <div class="cell">
            <label><input type="radio" name="PaymentMethod" value="CreditCard" /> Credit Card</label>
            <label><input type="radio" name="PaymentMethod" value="Invoice" /> Invoice Me</label>
          </div>
          <div class="cell">
            <label asp-for="BindingModel.PurchaseOrderNumber" class="label"></label>
            <input asp-for="BindingModel.PurchaseOrderNumber" class="field" />
            <span asp-validation-for="BindingModel.PurchaseOrderNumber" class="text-danger"></span>
          </div>
          <div class="cell">
            <label asp-for="BindingModel.AdditionalInstructions" class="label"></label>
            <input asp-for="BindingModel.AdditionalInstructions" class="field" />
            <span asp-validation-for="BindingModel.AdditionalInstructions" class="text-danger"></span>
          </div>
          <div class="cell checkbox">
            <input type="checkbox" asp-for="BindingModel.WithPaperReceipt" />
            <label asp-for="BindingModel.WithPaperReceipt"></label>
            <span asp-validation-for="BindingModel.WithPaperReceipt" class="text-danger"></span>
            <p class="instructions"><em>NOTE</em>: GoldSim's standard method of invoicing and providing receipts is via email.</p>
          </div>
          <div class="cell">
            <p>Note that you will not be charged when you submit this form. This order is not valid until accepted by GoldSim Technology Group. We will contact you to complete the transaction.</p>
          </div>
        </div>
      </fieldset>

      <input type="submit" value="Submit Registration" class="submit button large primary" />

    </form>
  </section>

}

@section Scripts {
  @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
