@model String

@{
  if (!ViewData.TryGetValue("cssClass", out var cssClass)) {
    cssClass = "medium-6";
  }
}

<div class="@cssClass cell form-field">
  <label asp-for="@Model" class="@(ViewData.ModelMetadata.IsRequired? "required" : "")"></label>
  <input asp-for="@Model" class="field" />
</div>

<!-- View Location: ~/Views/Forms/EditorTemplates/String.cshtml -->