@model String

@{
  if (!ViewData.TryGetValue("cssClass", out var cssClass)) {
    cssClass = "";
  }
}

<div class="@cssClass cell form-field">
  <label asp-for="@Model" class="@(ViewData.ModelMetadata.IsRequired? "required" : "")"></label>
  <textarea asp-for="@Model" class="field"></textarea>
</div>

<!-- View Location: ~/Views/Forms/EditorTemplates/TextArea.cshtml -->