<?xml version="1.0"?>
<rules>
  <rule name="Root Hit Redirect" stopProcessing="true">
    <match url="^$" />
    <action type="Redirect" url="/Web/Home/" redirectType="Permanent" />
  </rule>
  <rule name="Legacy Root Redirect" stopProcessing="true">
    <match url="^Home/$" />
    <action type="Redirect" url="/Web/Home/" redirectType="Permanent" />
  </rule>
  <rule name="Content Reorganization Redirects" stopProcessing="true">
    <match url="^(.*?)(/|)$" ignoreCase="true" />
    <conditions>
      <add input="{ReorganizationRedirects:{R:1}}" pattern="(.+)" />
    </conditions>
    <action type="Redirect" url="{C:1}" appendQueryString="false" redirectType="Permanent" />
  </rule>
  <rule name="Legacy Solutions Section Redirect" stopProcessing="true">
    <match url="^Web/Solutions/(.*?)$" ignoreCase="true" />
    <action type="Redirect" url="/Web/Applications/{R:1}" appendQueryString="true" redirectType="Permanent" />
  </rule>
  <rule name="Quick Tour Optimization Page Redirect">
    <match url="^Topic/644(/|)$" ignoreCase="true" />
    <action type="Redirect" url="/Topic/641/#Slide18" appendQueryString="false" redirectType="Permanent" />
  </rule>
  <rule name="Quick Tour Video Page Redirect">
    <match url="^Topic/642(/|)$" ignoreCase="true" />
    <action type="Redirect" url="/Topic/641/#Slide6" appendQueryString="false" redirectType="Permanent" />
  </rule>
  <rule name="Wiki Pages Redirect" stopProcessing="true">
    <match url="^Wiki/(.*?)$" ignoreCase="true" />
    <action type="Redirect" url="/Library/KnowledgeBase/" appendQueryString="true" redirectType="Permanent" />
  </rule>
  <rule name="Forum Pages Redirect" stopProcessing="true">
    <match url="^Forum/(.*?)$" ignoreCase="true" />
    <action type="Redirect" url="/Web/Resources/ForumMessage/" appendQueryString="false" />
  </rule>
  <rule name="Support Form Redirect" stopProcessing="true">
    <match url="^Forms/Support.aspx$" ignoreCase="true" />
    <action type="Redirect" url="https://goldsim.zendesk.com/hc/en-us/requests/new" redirectType="Permanent" appendQueryString="false" />
  </rule>
  <rule name="GoldSim Resource Center Redirect" stopProcessing="true">
    <match url="^grc$" ignoreCase="true" />
    <action type="Redirect" url="https://goldsim.zendesk.com/hc/en-us" redirectType="Permanent" appendQueryString="false" />
  </rule>
  <rule name="Customer Portal Redirect" stopProcessing="true">
    <match url="^LicensePortal(.*?)$" ignoreCase="true" />
    <action type="Redirect" url="https://goldsim.flexnetoperations.com/flexnet/operationsportal/activatables_VIEW.do" appendQueryString="false" />
  </rule>
  <rule name="Legacy ModelLibrary Redirect" stopProcessing="true">
    <match url="^(.*?)/ModelLibrary/(.*?)$" ignoreCase="true" />
    <action type="Redirect" url="{R:1}/Models/{R:2}" appendQueryString="true" redirectType="Permanent" />
  </rule>
  <rule name="Legacy Content.asp Redirect" stopProcessing="true">
    <match url="^Content.asp?PageID=(.*?)$" ignoreCase="true" />
    <action type="Redirect" url="/Page/{R:1}" appendQueryString="false" redirectType="Permanent" />
  </rule>
</rules>