<?xml version="1.0"?>
<rules>
  <rule name="HTTP to HTTPS redirect" stopProcessing="true">
    <match url="(.*)" />
    <conditions>
      <add input="{HTTPS}" pattern="off" ignoreCase="true" />
      <add input="{HTTP_HOST}" pattern="^admin\.goldsim\.com" negate="true" ignoreCase="true" />
    </conditions>
    <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
  </rule>
  <rule name="Redirect to www" stopProcessing="true">
    <match url="(.*)" />
    <conditions>
      <add input="{HTTP_HOST}" pattern="^goldsim\.com" ignoreCase="true" />
    </conditions>
    <action type="Redirect" url="https://www.goldsim.com/{R:1}" redirectType="Permanent" />
  </rule>
  <rule name="Root Hit Redirect" stopProcessing="true">
    <match url="^$" />
    <action type="Redirect" url="/Web/Home/" redirectType="Permanent" />
  </rule>
  <rule name="Help Site Redirects" stopProcessing="true">
    <match url="^Help/(.*?)$" ignoreCase="true" />
    <action type="Redirect" url="http://help.goldsim.com/{R:1}" appendQueryString="false" redirectType="Permanent" />
  </rule>
  <rule name="Legacy Root Redirect" stopProcessing="true">
    <match url="^Home/$" />
    <action type="Redirect" url="/Web/Home/" redirectType="Permanent" />
  </rule>
  <rule name="Content Reorganization Redirects" stopProcessing="true">
    <match url="^(.*?)(/|)$" ignoreCase="true" />
    <conditions>
      <add input="{ReorganizationRedirects:{R:1}}" pattern="(.+)" />
    </conditions>
    <action type="Redirect" url="{C:1}" appendQueryString="false" redirectType="Permanent" />
  </rule>
  <rule name="Application Areas Redirects" stopProcessing="true">
    <match url="^Web/Applications/(BusinessSystems|EngineeredSystems|EnvironmentalSystems)/(.*?)$" ignoreCase="true" />
    <action type="Redirect" url="/Web/Applications/Areas/{R:1}/{R:2}" appendQueryString="false" redirectType="Permanent" />
  </rule>
  <rule name="Legacy Library Redirect" stopProcessing="true">
    <match url="^Library/(.*?)$" ignoreCase="true" />
    <action type="Redirect" url="/Web/Customers/Education/Library/" appendQueryString="false" redirectType="Permanent" />
  </rule>
  <rule name="Legacy Showcase Section Redirect" stopProcessing="true">
    <match url="^Web/Solutions/Showcase/(.*?)$" ignoreCase="true" />
    <action type="Redirect" url="/Web/Applications/ExampleApplications/{R:1}" appendQueryString="true" redirectType="Permanent" />
  </rule>
  <rule name="Legacy Solutions Section Redirect" stopProcessing="true">
    <match url="^Web/Solutions/(.*?)$" ignoreCase="true" />
    <action type="Redirect" url="/Web/Applications/{R:1}" appendQueryString="true" redirectType="Permanent" />
  </rule>
  <rule name="Legacy Quick Tour Pages Redirect" stopProcessing="true">
    <match url="^Web/Products/GoldSim/QuickTour/Page([0-9]+)(.*?)$" ignoreCase="true" />
    <action type="Redirect" url="/Web/Products/GoldSim/QuickTour/#Slide{R:1}" redirectType="Permanent" />
  </rule>
  <rule name="Legacy Quick Tour for GoldSimPro Pages Redirect" stopProcessing="true">
    <match url="^Web/Products/GoldSimPro/QuickTour/Page([0-9]+)(.*?)$" ignoreCase="true" />
    <action type="Redirect" url="/Web/Products/GoldSim/QuickTour/#Slide{R:1}" redirectType="Permanent" />
  </rule>
  <rule name="GoldSim News Trailing Slash Redirect" stopProcessing="true">
    <match url="^Web/Company/News/([0-9\.]+)$" ignoreCase="true" />
    <action type="Redirect" url="/Web/Company/News/{R:1}/" redirectType="Permanent" appendQueryString="false" />
  </rule>
  <rule name="Wiki Pages Redirect" stopProcessing="true">
    <match url="^Wiki(.*?)$" ignoreCase="true" />
    <action type="Redirect" url="/Web/Customers/Education/Overview/" appendQueryString="true" redirectType="Permanent" />
  </rule>
  <rule name="Forum Pages Redirect" stopProcessing="true">
    <match url="^Forum/(.*?)$" ignoreCase="true" />
    <action type="Redirect" url="https://support.goldsim.com/hc/en-us/community/topics" appendQueryString="false" />
  </rule>
  <rule name="GoldSim Resource Center Redirect" stopProcessing="true">
    <match url="^grc(.*?)$" ignoreCase="true" />
    <action type="Redirect" url="https://goldsim.zendesk.com/hc/en-us" redirectType="Permanent" appendQueryString="false" />
  </rule>
  <rule name="Customer Portal Redirect" stopProcessing="true">
    <match url="^LicensePortal(.*?)$" ignoreCase="true" />
    <action type="Redirect" url="https://goldsim.flexnetoperations.com/flexnet/operationsportal/activatables_VIEW.do" appendQueryString="false" />
  </rule>
  <rule name="Legacy ModelLibrary Redirect" stopProcessing="true">
    <match url="^(.*?)/ModelLibrary/(.*?)$" ignoreCase="true" />
    <action type="Redirect" url="{R:1}/Models/{R:2}" appendQueryString="true" redirectType="Permanent" />
  </rule>
  <rule name="Legacy Redirector.aspx (Topic) Redirect" stopProcessing="true">
    <match url="^Redirector\.aspx" ignoreCase="true" />
    <conditions>
      <add input="{QUERY_STRING}" pattern="TopicID=([0-9]+)" />
    </conditions>
    <action type="Redirect" url="/Topic/{C:1}" appendQueryString="false" redirectType="Permanent" />
  </rule>
  <rule name="Legacy Redirector.aspx (Page) Redirect" stopProcessing="true">
    <match url="^Redirector\.aspx" ignoreCase="true" />
    <conditions>
      <add input="{QUERY_STRING}" pattern="PageID=([0-9]+)" />
    </conditions>
    <action type="Redirect" url="/Page/{C:1}" appendQueryString="false" redirectType="Permanent" />
  </rule>
  <rule name="Legacy Content.asp Redirect" stopProcessing="true">
    <match url="^Content\.asp" ignoreCase="true" />
    <conditions>
      <add input="{QUERY_STRING}" pattern="PageID=([0-9]+)" />
    </conditions>
    <action type="Redirect" url="/Page/{C:1}" appendQueryString="false" redirectType="Permanent" />
  </rule>
  <!--
  <rule name="Sitemap Redirect" stopProcessing="true">
    <match url="^Common/Topics/Topics.Json.aspx(.*?)$" ignoreCase="true" />
    <action type="Redirect" url="/Sitemap/" appendQueryString="false" redirectType="Permanent" />
  </rule>
  -->
</rules>