<?xml version="1.0" encoding="utf-8"?>
<rewriteMaps>
  <rewriteMap name="ReorganizationRedirects">
    <add key="Forms/Academic.aspx" value="Web/Purchase/AcademicResearch/" />
    <add key="Forms/PlayerDownload.aspx" value="Web/Customers/Downloads/Player/" />
    <add key="Forms/Support.aspx" value="https://goldsim.zendesk.com/hc/en-us/requests/new" />
    <add key="Forms/Training.aspx" value="Web/Customers/Education/Training/" />
    <add key="Forum" value="https://support.goldsim.com/hc/en-us/community/topics" />
    <add key="Library" value="Web/Customers/Education/Library/" />
    <add key="Radwaste" value="Web/Applications/Areas/EnvironmentalSystems/RadioactiveWaste/" />
    <add key="Topic/606" value="Web/Products/GoldSim/Comparison/" />
    <add key="Topic/607" value="Web/Customers/Education/Overview/" />
    <add key="Topic/642" value="Topic/641/#Slide6" />
    <add key="Topic/644" value="Topic/641/#Slide18" />
    <add key="Topic/648" value="Topic/641/#Slide16" />
    <add key="Topic/704" value="Web/Applications/ExampleApplications/BusinessExamples/PricingMechanisms/" />
    <add key="Topic/742" value="Web/Customers/Downloads/Player/" />
    <add key="Web/Applications/Areas/BusinessSystems" value="/Topic/5138/" />
    <add key="Web/Applications/Areas/EngineeredSystems" value="/Topic/5138/" />
    <add key="Web/Applications/Areas/EnvironmentalSystems" value="/Topic/5138/" />
    <add key="Web/Company/Conferences" value="Web/Applications/Conferences/" />
    <add key="Web/Company/ContactUs" value="Web/Company/VisitUs/" />
    <add key="Web/Downloads" value="Web/Customers/Downloads/" />
    <add key="Web/Downloads/DownloadGoldSim" value="Web/Customers/Downloads/GoldSim/Latest/" />
    <add key="Web/Downloads/DownloadGoldSim/PreviousGoldSim" value="Web/Customers/Downloads/GoldSim/Previous/" />
    <add key="Web/Downloads/DownloadGoldSim/UnderstandingLicenseActivation" value="Web/Customers/Downloads/GoldSim/Activation/" />
    <add key="Web/Downloads/DownloadGoldSim/UpgradingOldModels" value="Web/Customers/Downloads/GoldSim/Upgrading/" />
    <add key="Web/Downloads/DownloadGoldSim/Versions" value="Web/Customers/Downloads/GoldSim/VersionOverview/" />
    <add key="Web/Downloads/NetworkLicenseDownloads" value="Web/Customers/Downloads/NetworkLicense/" />
    <add key="Web/Downloads/PlayerForm/DownloadPlayer" value="Web/Customers/Downloads/Player/" />
    <add key="Web/Downloads/Utilities" value="Web/Customers/Downloads/" />
    <add key="Web/Downloads/SlaveManager" value="Web/Customers/Downloads/SlaveManager/" />
    <add key="Web/Downloads/UserManuals" value="Web/Customers/Education/Documentation/" />
    <add key="Web/Introduction/FAQs/AcademicFAQs" value="Web/Products/AcademicResearch/FAQ/" />
    <add key="Web/Introduction/FAQs" value="Web/Products/GoldSim/FAQ/" />
    <add key="Web/Introduction/FAQs/BasicGoldSimFAQs" value="Web/Products/GoldSim/FAQ/" />
    <add key="Web/Introduction/FAQs/BasicSimulationFAQs" value="Web/Products/GoldSim/FAQ/" />
    <add key="Web/Introduction/FAQs/BuyGoldSimFAQs" value="Web/Purchase/FAQ/" />
    <add key="Web/Introduction/FAQs/UserCommunityFAQs" value="Web/Customers/Community/" />
    <add key="Web/Introduction/LinksUsers" value="Web/Customers/" />
    <add key="Web/Introduction/Probabilistic/MonteCarlo" value="Web/Introduction/MonteCarlo/" />
    <add key="Web/Introduction/SelectingSimulationSoftware" value="Web/Products/SelectingSimulationSoftware/" />
    <add key="Web/Introduction/Simulation" value="Web/Introduction/#Simulation" />
    <add key="Web/Introduction/Probabilistic" value="Web/Introduction/#Probabilistic" />
    <add key="Web/Introduction/WhentoSimulate" value="Web/Introduction/#WhentoSimulate" />
    <add key="Web/Introduction/SimulationTypes" value="Web/Introduction/#SimulationTypes" />
    <add key="Web/Products/AcademicResearch" value="Web/Purchase/AcademicResearch" />
    <add key="Web/Products/BuyGoldSim" value="Web/Purchase/" />
    <add key="Web/Products/BuyGoldSim/LicensingOptions" value="Web/Purchase/Licensing/" />
    <add key="Web/Products/BuyGoldSim/LicensingOptions/GoldSimLicensePortal" value="Web/Purchase/Licensing/Portal/" />
    <add key="Web/Products/BuyGoldSim/LicensingOptions/LicensingFAQS" value="Web/Purchase/Licensing/FAQ/" />
    <add key="Web/Products/BuyGoldSim/Pricing" value="Web/Purchase/Pricing" />
    <add key="Web/Products/BuyGoldSim/Pricing/MaintenanceProgram" value="Web/Purchase/Pricing/Maintenance/" />
    <add key="Web/Products/GoldSim/NutshellVideo" value="Web/Products/GoldSim/Video/" />
    <add key="Web/Products/GoldSim/SimulationApproaches" value="Web/Products/GoldSim/Comparison/" />
    <add key="Web/Products/GoldSim/Spreadsheets/SpreadsheetQuestions" value="Web/Products/GoldSim/Spreadsheets/FAQ/" />
    <add key="Web/Products/GoldSim/Spreadsheets/SpreadsheetVideo" value="Web/Products/GoldSim/Comparison/Spreadsheets/" />
    <add key="Web/Products/GoldSim/Spreadsheets/Video/" value="Web/Products/GoldSim/Comparison/Spreadsheets/" />
    <add key="Web/Products/GoldSim/SystemRequirements" value="Web/Products/GoldSim/Requirements/" />
    <add key="Web/Products/Modules/ContaminantTransport/CTModuleVersions" value="Web/Products/Modules/ContaminantTransport/Versions/" />
    <add key="Web/Products/Modules/ContaminantTransport/CTOverview" value="Web/Products/Modules/ContaminantTransport/Overview/" />
    <add key="Web/Products/Modules/Financial/FNQuickTour" value="Web/Products/Modules/Financial/QuickTour/" />
    <add key="Web/Products/Modules/Reliability/RLComparison" value="Web/Products/Modules/Reliability/Comparison/" />
    <add key="Web/Products/Modules/Reliability/RLQuickTour" value="Web/Products/Modules/Reliability/QuickTour/" />
    <add key="Web/Products/PrivacyPolicy" value="Web/Company/Privacy/" />
    <add key="Web/Products/SiteTerms" value="Web/Company/Terms/" />
    <add key="Web/Resources" value="Web/Customers/" />
    <add key="Web/Resources/Consulting" value="Web/Customers/Consulting/" />
    <add key="Web/Resources/GoldSimPlayer" value="Web/Products/GoldSimPlayer/" />
    <add key="Web/Resources/GoldSimUserConference" value="Web/Customers/Community/Conference/" />
    <add key="Web/Resources/LearningtoUseGoldSim" value="Web/Customers/Education/Overview/" />
    <add key="Web/Resources/Webinars/FutureWebinars" value="Web/Customers/Education/Webinars/" />
    <add key="Web/Resources/Library" value="Web/Customers/Education/Library/" />
    <add key="Web/Resources/Library/Models" value="Web/Customers/Education/Library/" />
    <add key="Web/Resources/Newsletters" value="Web/Company/Newsletters/" />
    <add key="Web/Resources/TechnicalSupport" value="Web/Customers/Support/" />
    <add key="Web/Resources/Training" value="Web/Customers/Education/Training/" />
    <add key="Web/Resources/Webinars" value="Web/Customers/Education/Webinars/" />
    <add key="Web/Solutions" value="Web/Applications/" />
    <add key="Web/Solutions/Customers" value="Web/Applications/Customers/" />
    <add key="Web/Solutions/BusinessSystems" value="Web/Applications/" />
    <add key="Web/Solutions/EngineeredSystems" value="Web/Applications/" />
    <add key="Web/Solutions/EnvironmentalSystems" value="Web/Applications/" />
    <add key="Web/Solutions/Partners/BecomeAGoldSimPartner" value="Web/Company/Partners/" />
    <add key="Web/Solutions/Partners/BecomeAGoldSimPartner/BecomeACertifiedSolutionProvider" value="Web/Company/Partners/Consulting/" />
    <add key="Web/Solutions/Partners/BecomeAGoldSimPartner/BecomeACertifiedTrainingProvider" value="Web/Company/Partners/Training/" />
    <add key="Web/Solutions/Partners/SolutionProviders" value="Web/Customers/Consulting/Consultants/" />
    <add key="Web/Solutions/Partners/TrainingProviders" value="Web/Customers/Education/Training/Trainers/" />
    <add key="Web/Solutions/Showcase" value="Web/Applications/ExampleApplications/" />
    <add key="Web/Solutions/Showcase/BusinessExamples" value="Web/Applications/ExampleApplications/" />
    <add key="Web/Solutions/Showcase/CaseStudies" value="Web/Applications/WhitePapers/" />
    <add key="Web/Solutions/Showcase/EngineeredSystemsExamples" value="Web/Applications/ExampleApplications/" />
    <add key="Web/Solutions/Showcase/EnvironmentalExamples" value="Web/Applications/ExampleApplications/" />
    <add key="Web/Solutions/Showcase/TechnicalPapers" value="Web/Applications/TechnicalPapers/" />
  </rewriteMap>
</rewriteMaps>
