<?xml version="1.0"?>
<rules>

  <!-- HOSTNAME REDIRECT -->
  <rule name="Redirect to www" stopProcessing="true">
    <match url="(.*)" />
    <conditions>
      <add input="{HTTP_HOST}" pattern="^goldsim\.com" ignoreCase="true" />
    </conditions>
    <action type="Redirect" url="https://www.goldsim.com/{R:1}" redirectType="Permanent" />
  </rule>

  <!-- ROOT REDIRECT -->
  <rule name="Root Redirect" stopProcessing="true">
    <match url="^$" />
    <action type="Rewrite" url="/Web/Home/" redirectType="Permanent" />
  </rule>

  <!-- REWRITE MAP REDIRECTS -->
  <rule name="Shortcut Redirects" stopProcessing="true">
    <match url="^([^/]*)/?$" ignoreCase="true" />
    <conditions>
      <add input="{Shortcuts:{R:1}}" pattern="(.+)" />
    </conditions>
    <action type="Redirect" url="{C:1}" appendQueryString="true" redirectType="Permanent" />
  </rule>
  <rule name="Retired Subsite Redirects" stopProcessing="true">
    <match url="^([^/]*)(/.*)?$" ignoreCase="true" />
    <conditions>
      <add input="{RetiredSubsites:{R:1}}" pattern="(.+)" />
    </conditions>
    <action type="Redirect" url="{C:1}" appendQueryString="true" redirectType="Permanent" />
  </rule>
  <rule name="Page Move Redirects" stopProcessing="true">
    <match url="^(.*?)(/|)$" ignoreCase="true" />
    <conditions>
      <add input="{PageMoves:{R:1}}" pattern="(.+)" />
    </conditions>
    <action type="Redirect" url="{C:1}" appendQueryString="false" redirectType="Permanent" />
  </rule>
  <rule name="Subsite Move Redirects" stopProcessing="true">
    <match url="^([^/]*)(/.*)?$" ignoreCase="true" />
    <conditions>
      <add input="{SubsiteMoves:{R:1}}" pattern="(.+)" />
    </conditions>
    <action type="Redirect" url="{C:1}{R:2}" appendQueryString="true" redirectType="Permanent" />
  </rule>
  <rule name="Image Redirects" stopProcessing="true">
    <match url="^Images/([^/]*)(/.*)?$" ignoreCase="true" />
    <conditions>
      <add input="{ImageMoves:{R:1}}" pattern="(.+)" />
    </conditions>
    <action type="Redirect" url="https://media.goldsim.com/Images/{C:1}{R:2}" appendQueryString="true" redirectType="Permanent" />
  </rule>

  <!-- SUBSECTION REDIRECTS -->
  <rule name="Course Redirect (Temporary)" stopProcessing="true">
    <match url="^Courses/BasicCourse/(.*?)$" ignoreCase="true" />
    <action type="Redirect" url="/Courses/BasicGoldSim/{R:1}" appendQueryString="false" redirectType="Permanent" />
  </rule>
  <rule name="Application Areas Redirects" stopProcessing="true">
    <match url="^Web/Applications/([a-z]*)Systems/(.*?)$" ignoreCase="true" />
    <action type="Redirect" url="/Web/Applications/Areas/{R:1}Systems/{R:2}" appendQueryString="false" redirectType="Permanent" />
  </rule>
  <rule name="Legacy Forms Redirect" stopProcessing="true">
    <match url="^Forms/(.*?).aspx$" ignoreCase="true" />
    <action type="Redirect" url="/Forms/{R:1}/" appendQueryString="true" redirectType="Permanent" />
  </rule>
  <rule name="Legacy Showcase Section Redirect" stopProcessing="true">
    <match url="^Web/Solutions/Showcase/(.*?)$" ignoreCase="true" />
    <action type="Redirect" url="/Web/Applications/ExampleApplications/{R:1}" appendQueryString="true" redirectType="Permanent" />
  </rule>
  <rule name="Legacy Solutions Section Redirect" stopProcessing="true">
    <match url="^Web/Solutions/(.*?)$" ignoreCase="true" />
    <action type="Redirect" url="/Web/Applications/{R:1}" appendQueryString="true" redirectType="Permanent" />
  </rule>
  <rule name="Legacy Quick Tour Pages Redirect" stopProcessing="true">
    <match url="^Web/Products/GoldSim(Pro)?/QuickTour/Page([0-9]+)(.*?)$" ignoreCase="true" />
    <action type="Redirect" url="/Web/Products/GoldSim/QuickTour/#Slide{R:2}" redirectType="Permanent" />
  </rule>
  <rule name="GoldSim News Trailing Slash Redirect" stopProcessing="true">
    <match url="^Web/Company/News/([0-9\.]+)$" ignoreCase="true" />
    <action type="Redirect" url="/Web/Company/News/{R:1}/" redirectType="Permanent" appendQueryString="false" />
  </rule>
  <rule name="Legacy ModelLibrary Redirect" stopProcessing="true">
    <match url="^(.*?)/ModelLibrary/(.*?)$" ignoreCase="true" />
    <action type="Redirect" url="{R:1}/Models/{R:2}" appendQueryString="true" redirectType="Permanent" />
  </rule>

  <!-- LEGACY REDIRECTORS -->
  <rule name="Legacy Topic Redirect" stopProcessing="true">
    <match url="^Redirector\.aspx" ignoreCase="true" />
    <conditions>
      <add input="{QUERY_STRING}" pattern="TopicID=([0-9]+)" />
    </conditions>
    <action type="Redirect" url="/Topic/{C:1}" appendQueryString="false" redirectType="Permanent" />
  </rule>
  <rule name="Legacy Page Redirect" stopProcessing="true">
    <match url="^(Redirector|Content)\.aspx?" ignoreCase="true" />
    <conditions>
      <add input="{QUERY_STRING}" pattern="PageID=([0-9]+)" />
    </conditions>
    <action type="Redirect" url="/Page/{C:1}" appendQueryString="false" redirectType="Permanent" />
  </rule>

</rules>