<?xml version="1.0" encoding="utf-8"?>
<rewriteMaps>

  <!-- SHORTCUTS -->
  <rewriteMap name="Shortcuts">
    <add key="Course" value="https://goldsimcourses.appspot.com/basic_goldsim/course" />
    <add key="Forum" value="https://support.goldsim.com/hc/en-us/community/topics" />
    <add key="Pay" value="Web/Purchase/PayInvoice/" />
    <add key="Radwaste" value="Web/Applications/Areas/EnvironmentalSystems/RadioactiveWaste/" />
    <add key="Support" value="https://support.goldsim.com/hc/en-us/requests/new" />
    <add key="Web" value="Web/Home/" />
  </rewriteMap>

  <!-- RETIRED SUBSITES -->
  <rewriteMap name="RetiredSubsites">
    <add key="CustomerRequests" value="Web/Customers/Support/" />
    <add key="Forums" value="https://support.goldsim.com/hc/en-us/community/topics" />
    <add key="GRC" value="https://goldsim.zendesk.com/hc/en-us" />
    <add key="Home" value="Web/Home/" />
    <add key="Library" value="/Web/Customers/Education/Library/" />
    <add key="LicensePortal" value="https://goldsim.flexnetoperations.com/flexnet/operationsportal/activatables_VIEW.do" />
    <add key="Wiki" value="/Web/Customers/Education/Overview/" />
  </rewriteMap>

  <!-- SUBSITES MOVES -->
  <rewriteMap name="SubsiteMoves">
    <add key="Help" value="http://help.goldsim.com/" />
  </rewriteMap>

  <!-- PAGE MOVES -->
  <rewriteMap name="PageMoves">
    <add key="About/Contact.asp" value="Web/Company/VisitUs/" />
    <add key="About/ContactUs.asp" value="Web/Company/VisitUs/" />
    <add key="About/News.asp" value="Web/Company/News/" />
    <add key="Downloads/Library/Models/Applications/CostProject/eLearning%20Project.gsm" value="Web/Customers/Education/Library/" />
    <add key="Downloads/Library/Models/Applications/Hydrology/WGEN.pdf" value="Web/Customers/Education/Library/" />
    <add key="Downloads/Library/Models/Applications/ProcessThroughput/Processing_Widgets.gsm" value="Web/Customers/Education/Library/" />
    <add key="Downloads/Library/Models/Modules/Financial/Simple_Financial_Model.gsm" value="Web/Customers/Education/Library/" />
    <add key="Downloads/Models/MarketingProgramPick.gsm" value="Web/Customers/Education/Library/" />
    <add key="Downloads/Models/Parallel_Pumps.gsm" value="Web/Customers/Education/Library/" />
    <add key="Downloads/Models/pumped_head_PDS.gsm" value="Web/Customers/Education/Library/" />
    <add key="Form_AcademicApplication.asp" value="Web/Purchase/AcademicResearch/#Academic" />
    <add key="Form_Brisbane.asp" value="Web/Customers/Education/Training/" />
    <add key="Form_Evaluation.asp" value="Forms/Trial/" />
    <add key="Form_Issaquah.asp" value="Web/Customers/Education/Training/" />
    <add key="Form_Liverpool.asp" value="Web/Customers/Education/Training/" />
    <add key="Form_Perth.asp" value="Web/Customers/Education/Training/" />
    <add key="Forms/Academic.aspx" value="Web/Purchase/AcademicResearch/" />
    <add key="Forms/Academic.Instructor.aspx" value="Forms/InstructorAcademic/" />
    <add key="Forms/Academic.Student.aspx" value="Forms/StudentAcademic/" />
    <add key="Forms/BuyGoldSim.aspx" value="Forms/Purchase/" />
    <add key="Forms/DenverTraining.aspx" value="Web/Customers/Education/Training/" />
    <add key="Forms/Evaluation.aspx" value="Forms/Trial/" />
    <add key="Forms/PlayerDownload.aspx" value="Web/Customers/Downloads/Player/" />
    <add key="Forms/Support.aspx" value="https://goldsim.zendesk.com/hc/en-us/requests/new" />
    <add key="Forms/Training.aspx" value="Web/Customers/Education/Training/" />
    <add key="Forms/Training_Australia.aspx" value="Web/Customers/Education/Training/" />
    <add key="Forms/Training1.aspx" value="Web/Customers/Education/Training/" />
    <add key="Forms/Training2.aspx" value="Web/Customers/Education/Training/" />
    <add key="Forms/User_Conference.aspx" value="Forms/UserConference/" />
    <add key="Home.asp" value="Web/Home/" />
    <add key="Index.asp" value="Web/Home/" />
    <add key="Index.html" value="Web/Home/" />
    <add key="ModuleSiteMap.asp" value="Web/Products/Modules/" />
    <add key="Products/Evaluation.asp" value="Forms/Trial/" />
    <add key="Products/GoldSimAcademic.asp" value="Web/Purchase/AcademicResearch/#Academic" />
    <add key="Products/GoldSimPlayer.asp" value="Web/Products/GoldSimPlayer" />
    <add key="Products/GoldSimRL.asp" value="Web/Products/Modules/Reliability/Overview/" />
    <add key="Products/Products.asp" value="Web/Products/" />
    <add key="Products/Support.asp" value="Web/Customers/Support" />
    <add key="Reliability.asp" value="Web/Products/Modules/Reliability/Overview/" />
    <add key="Software/Evaluation.asp" value="Forms/Trial/" />
    <add key="Software/Player.asp" value="Web/Products/GoldSimPlayer" />
    <add key="Solutions/RadWaste.asp" value="Web/Applications/Areas/EnvironmentalSystems/RadioactiveWaste/" />
    <add key="Topic/606" value="Web/Products/GoldSim/Comparison/" />
    <add key="Topic/607" value="Web/Customers/Education/Overview/" />
    <add key="Topic/640" value="Topic/641/#Slide1" />
    <add key="Topic/639" value="Topic/641/#Slide2" />
    <add key="Topic/638" value="Topic/641/#Slide3" />
    <add key="Topic/637" value="Topic/641/#Slide4" />
    <add key="Topic/636" value="Topic/641/#Slide5" />
    <add key="Topic/642" value="Topic/641/#Slide6" />
    <add key="Topic/635" value="Topic/641/#Slide7" />
    <add key="Topic/634" value="Topic/641/#Slide8" />
    <add key="Topic/631" value="Topic/641/#Slide9" />
    <add key="Topic/628" value="Topic/641/#Slide10" />
    <add key="Topic/629" value="Topic/641/#Slide11" />
    <add key="Topic/633" value="Topic/641/#Slide12" />
    <add key="Topic/627" value="Topic/641/#Slide13" />
    <add key="Topic/630" value="Topic/641/#Slide14" />
    <add key="Topic/893" value="Topic/641/#Slide15" />
    <add key="Topic/648" value="Topic/641/#Slide16" />
    <add key="Topic/643" value="Topic/641/#Slide17" />
    <add key="Topic/644" value="Topic/641/#Slide18" />
    <add key="Topic/649" value="Topic/641/#Slide19" />
    <add key="Topic/645" value="Topic/641/#Slide20" />
    <add key="Topic/632" value="Topic/641/#Slide21" />
    <add key="Topic/646" value="Topic/641/#Slide22" />
    <add key="Topic/647" value="Topic/641/#Slide23" />
    <add key="Topic/704" value="Web/Applications/ExampleApplications/BusinessExamples/PricingMechanisms/" />
    <add key="Topic/742" value="Web/Customers/Downloads/Player/" />
    <add key="Tour/Tour0.asp" value="Web/Products/GoldSim/QuickTour/" />
    <add key="Videos/InformationDelay/Information_Delay_Element.htm" value="Help/Modules/5/informationdelayelements.htm" />
    <add key="Web/Applications/Areas/BusinessSystems" value="Topic/5138/" />
    <add key="Web/Applications/Areas/BusinessSystems/FinancialEngineering" value="Web/Applications/Areas/BusinessSystems/Finance/" />
    <add key="Web/Applications/Areas/EngineeredSystems" value="Topic/5138/" />
    <add key="Web/Applications/Areas/EnvironmentalSystems" value="Topic/5138/" />
    <add key="Web/Applications/OtherGoldsimApplications" value="Web/Applications/" />
    <add key="Web/Applications/Partners" value="Web/Customers/Consulting/Consultants/" />
    <add key="Web/Company/Conferences" value="Web/Applications/Conferences/" />
    <add key="Web/Company/ContactUs" value="Web/Company/VisitUs/" />
    <add key="Web/Customers/Downloads/GoldSim/VersionOverview" value="Web/Customers/Downloads/GoldSim/Versions/" />
    <add key="Web/Downloads" value="Web/Customers/Downloads/" />
    <add key="Web/Downloads/DownloadGoldSim" value="Web/Customers/Downloads/GoldSim/Latest/" />
    <add key="Web/Downloads/DownloadGoldSim/KnownIssues" value="Web/Customers/Downloads/GoldSim/Versions/" />
    <add key="Web/Downloads/DownloadGoldSim/PreviousGoldSim" value="Web/Customers/Downloads/GoldSim/Previous/" />
    <add key="Web/Downloads/DownloadGoldSim/UnderstandingLicenseActivation" value="Web/Customers/Downloads/GoldSim/Activation/" />
    <add key="Web/Downloads/DownloadGoldSim/UpgradingOldModels" value="Web/Customers/Downloads/GoldSim/Upgrading/" />
    <add key="Web/Downloads/DownloadGoldSim/Versions" value="Web/Customers/Downloads/GoldSim/Versions/" />
    <add key="Web/Downloads/NetworkLicenseDownloads" value="Web/Customers/Downloads/NetworkLicense/" />
    <add key="Web/Downloads/PlayerForm" value="Web/Customers/Downloads/Player/" />
    <add key="Web/Downloads/PlayerForm/DownloadPlayer" value="Web/Customers/Downloads/Player/" />
    <add key="Web/Downloads/PlayerForm/PreviousPlayer" value="Web/Customers/Downloads/Player/" />
    <add key="Web/Downloads/SlaveManager" value="Web/Customers/Downloads/SlaveManager/" />
    <add key="Web/Downloads/UserManuals" value="Web/Customers/Education/Documentation/" />
    <add key="Web/Downloads/Utilities" value="Web/Customers/Downloads/" />
    <add key="Web/Introduction/FAQs" value="Web/Products/GoldSim/FAQ/" />
    <add key="Web/Introduction/FAQs/AcademicFAQs" value="Web/Products/AcademicResearch/FAQ/" />
    <add key="Web/Introduction/FAQs/BasicGoldSimFAQs" value="Web/Products/GoldSim/FAQ/" />
    <add key="Web/Introduction/FAQs/BasicSimulationFAQs" value="Web/Products/GoldSim/FAQ/" />
    <add key="Web/Introduction/FAQs/BuyGoldSimFAQs" value="Web/Purchase/FAQ/" />
    <add key="Web/Introduction/FAQs/GettingStartedFAQs" value="Web/Products/GoldSim/FAQ/" />
    <add key="Web/Introduction/FAQs/LicensingFAQs" value="Web/Purchase/Licensing/FAQ/" />
    <add key="Web/Introduction/FAQs/UserCommunityFAQs" value="Web/Customers/Community/" />
    <add key="Web/Introduction/Glossary/Categories" value="Web/Introduction/Glossary/Categories/" />
    <add key="Web/Introduction/LinksGoldSim" value="Web/Products/GoldSim/" />
    <add key="Web/Introduction/LinksSimulation" value="Web/Introduction/" />
    <add key="Web/Introduction/LinksUsers" value="Web/Customers/" />
    <add key="Web/Introduction/Overview" value="Web/Products/GoldSim/Overview/" />
    <add key="Web/Introduction/Probabilistic" value="Web/Introduction/#Probabilistic" />
    <add key="Web/Introduction/Probabilistic/MonteCarlo" value="Web/Introduction/MonteCarlo/" />
    <add key="Web/Introduction/QuickOverview" value="Web/Products/GoldSim/Overview/" />
    <add key="Web/Introduction/SelectingSimulationSoftware" value="Web/Products/SelectingSimulationSoftware/" />
    <add key="Web/Introduction/Simulation" value="Web/Introduction/#Simulation" />
    <add key="Web/Introduction/SimulationTypes" value="Web/Introduction/#SimulationTypes" />
    <add key="Web/Introduction/WhentoSimulate" value="Web/Introduction/#WhentoSimulate" />
    <add key="Web/Products/AcademicResearch" value="Web/Purchase/AcademicResearch" />
    <add key="Web/Products/AcademicResearch/FAQ/" value="Web/Purchase/AcademicResearch" />
    <add key="Web/Products/BuyGoldSim" value="Web/Purchase/" />
    <add key="Web/Products/BuyGoldSim/LicensingOptions" value="Web/Purchase/Licensing/" />
    <add key="Web/Products/BuyGoldSim/LicensingOptions/GoldSimLicensePortal" value="Web/Purchase/Licensing/Portal/" />
    <add key="Web/Products/BuyGoldSim/LicensingOptions/LicensingFAQS" value="Web/Purchase/Licensing/FAQ/" />
    <add key="Web/Products/BuyGoldSim/LicensingOptions/NewGoldSimLicensingSystem" value="Web/Purchase/Licensing/NewGoldSimLicensingSystem/" />
    <add key="Web/Products/BuyGoldSim/Pricing" value="Web/Purchase/Pricing" />
    <add key="Web/Products/BuyGoldSim/Pricing/MaintenanceProgram" value="Web/Purchase/Pricing/Maintenance/" />
    <add key="Web/Products/BuyGoldSim/Quote" value="Forms/Quote/" />
    <add key="Web/Products/GoldSim/NutshellVideo" value="Web/Products/GoldSim/QuickTour/" />
    <add key="Web/Products/GoldSim/NutshellYouTube" value="Web/Products/GoldSim/QuickTour/" />
    <add key="Web/Products/GoldSim/QuickTour/QuickTourPrep" value="Web/Products/GoldSim/QuickTour/" />
    <add key="Web/Products/GoldSim/SimulationApproaches" value="Web/Products/GoldSim/Comparison/" />
    <add key="Web/Products/GoldSim/SimulationApproaches/SystemDynamics" value="Web/Products/GoldSim/Comparison/" />
    <add key="Web/Products/GoldSim/Spreadsheets" value="Web/Products/GoldSim/Comparison/Spreadsheets/" />
    <add key="Web/Products/GoldSim/Spreadsheets/MonteCarloAddIns" value="Web/Products/GoldSim/Comparison/Spreadsheets/FAQ/" />
    <add key="Web/Products/GoldSim/Spreadsheets/SpreadsheetQuestions" value="Web/Products/GoldSim/Spreadsheets/FAQ/" />
    <add key="Web/Products/GoldSim/Spreadsheets/SpreadsheetVideo" value="Web/Products/GoldSim/Comparison/Spreadsheets/Video/" />
    <add key="Web/Products/GoldSim/Spreadsheets/Video/" value="Web/Products/GoldSim/Comparison/Spreadsheets/Video/" />
    <add key="Web/Products/GoldSim/SystemRequirements" value="Web/Products/GoldSim/Requirements/" />
    <add key="Web/Products/GoldSimPro" value="Web/Products/GoldSim/" />
    <add key="Web/Products/GoldSimPro/NutshellVideo" value="Web/Products/GoldSim/QuickTour/" />
    <add key="Web/Products/GoldSimPro/QuickTour" value="Web/Products/GoldSim/QuickTour/" />
    <add key="Web/Products/Modules/ContaminantTransport/CTModuleVersions" value="Web/Products/Modules/ContaminantTransport/Versions/" />
    <add key="Web/Products/Modules/ContaminantTransport/CTOverview" value="Web/Products/Modules/ContaminantTransport/Overview/" />
    <add key="Web/Products/Modules/Financial/FNQuickTour" value="Web/Products/Modules/Financial/QuickTour/" />
    <add key="Web/Products/Modules/Reliability/RLComparison" value="Web/Products/Modules/Reliability/Comparison/" />
    <add key="Web/Products/Modules/Reliability/RLQuickTour" value="Web/Products/Modules/Reliability/QuickTour/" />
    <add key="Web/Products/PrivacyPolicy" value="Web/Company/Privacy/" />
    <add key="Web/Products/SiteTerms" value="Web/Company/Terms/" />
    <add key="Web/Resources" value="Web/Customers/" />
    <add key="Web/Resources/Community" value="Web/Customers/Community/" />
    <add key="Web/Resources/Consulting" value="Web/Customers/Consulting/" />
    <add key="Web/Resources/GoldSimPlayer" value="Web/Products/GoldSimPlayer/" />
    <add key="Web/Resources/GoldSimUserConference" value="Web/Customers/Community/Conference/" />
    <add key="Web/Resources/LearningtoUseGoldSim" value="Web/Customers/Education/Overview/" />
    <add key="Web/Resources/Library" value="Web/Customers/Education/Library/" />
    <add key="Web/Resources/Library/Models" value="Web/Customers/Education/Library/" />
    <add key="Web/Resources/Newsletters" value="Web/Company/Newsletters/" />
    <add key="Web/Resources/TechnicalSupport" value="Web/Customers/Support/" />
    <add key="Web/Resources/Training" value="Web/Customers/Education/Training/" />
    <add key="Web/Resources/Videos" value="Web/Customers/Education/Overview/" />
    <add key="Web/Resources/Webinars" value="Web/Customers/Education/Webinars/" />
    <add key="Web/Resources/Webinars/CurrentWebinar" value="Web/Customers/Education/Webinars/" />
    <add key="Web/Resources/Webinars/FutureWebinars" value="Web/Customers/Education/Webinars/" />
    <add key="Web/Solutions" value="Web/Applications/" />
    <add key="Web/Solutions/BusinessSystems" value="Web/Applications/" />
    <add key="Web/Solutions/Customers" value="Web/Applications/Customers/" />
    <add key="Web/Solutions/EngineeredSystems" value="Web/Applications/" />
    <add key="Web/Solutions/EnvironmentalSystems" value="Web/Applications/" />
    <add key="Web/Solutions/Partners/BecomeAGoldSimPartner" value="Web/Company/Partners/" />
    <add key="Web/Solutions/Partners/BecomeAGoldSimPartner/BecomeACertifiedSolutionProvider" value="Web/Company/Partners/Consulting/" />
    <add key="Web/Solutions/Partners/BecomeAGoldSimPartner/BecomeACertifiedTrainingProvider" value="Web/Company/Partners/Training/" />
    <add key="Web/Solutions/Partners/SolutionProviders" value="Web/Customers/Consulting/Consultants/" />
    <add key="Web/Solutions/Partners/TrainingProviders" value="Web/Customers/Education/Training/Trainers/" />
    <add key="Web/Solutions/Showcase" value="Web/Applications/ExampleApplications/" />
    <add key="Web/Solutions/Showcase/BusinessExamples" value="Web/Applications/ExampleApplications/" />
    <add key="Web/Solutions/Showcase/CaseStudies" value="Web/Applications/WhitePapers/" />
    <add key="Web/Solutions/Showcase/EngineeredSystemsExamples" value="Web/Applications/ExampleApplications/" />
    <add key="Web/Solutions/Showcase/EnvironmentalExamples" value="Web/Applications/ExampleApplications/" />
    <add key="Web/Solutions/Showcase/TechnicalPapers" value="Web/Applications/TechnicalPapers/" />
  </rewriteMap>

</rewriteMaps>