@model Ignia.Topics.Web.Mvc.TopicViewModel

@{
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Application List Content Type</h2>

<p>@Model.Topic.Attributes.Get("Body")</p>

<br>(~/Views/ApplicationIndex/ApplicationIndex.cshtml)