@model MetadataLookupViewModel

<select name="@ViewData.TemplateInfo.HtmlFieldPrefix" asp-items="Model.Options" required=@Model.IsRequired>
  <option value="">@Model.DefaultText</option>
</select>

<!-- View Location: ~/Views/Shared/Components/MetadataLookup/Default.cshtml -->