<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.web>
    <compilation debug="true" defaultLanguage="C#">
      <assemblies>
        <add assembly="Ignia.Toolbox" />
        <add assembly="GoldSim.Web" />
        <add assembly="AntiXssLibrary" />
      </assemblies>
    </compilation>
    <pages theme="Default" masterPageFile="/Forms/Common/Templates/Forms.Layout.Master">
      <namespaces>
        <add namespace="System.IO"               />
        <add namespace="System.Data"             />
        <add namespace="System.Data.SqlClient"   />
        <add namespace="System.Net.Mail"         />
        <add namespace="GoldSim.Web.Helpers"     />
        <add namespace="GoldSim.Web.Models"      />
        <add namespace="GoldSim.Web.Controllers" />
      </namespaces>
      <controls>
        <add tagPrefix="Ignia"        tagName="ClientValidation"          src="/Common/Global/Controls/ClientValidation.ascx" />
        <add tagPrefix="Ignia"        tagName="FormField"                 src="/Common/Global/Controls/FormField.ascx" />
        <add tagPrefix="Ignia"        tagName="LookupBox"                 src="/Common/Global/Controls/LookupBox.ascx" />
        <add tagPrefix="GoldSimForm"  tagName="NameBlock"                 src="/Forms/Common/FormFields/NameBlock.ascx" />
        <add tagPrefix="GoldSimForm"  tagName="AddressBlock"              src="/Forms/Common/FormFields/AddressBlock.ascx" />
        <add tagPrefix="GoldSimForm"  tagName="AreaOfFocusSelection"      src="/Forms/Common/FormFields/AreaOfFocusSelection.ascx" />
        <add tagPrefix="GoldSimForm"  tagName="ReferralSourceSelection"   src="/Forms/Common/FormFields/ReferralSourceSelection.ascx" />
        <add tagPrefix="GoldSimForm"  tagName="CountrySelection"          src="/Forms/Common/FormFields/CountrySelection.ascx" />
        <add tagPrefix="GoldSimForm"  tagName="Email"                     src="/Forms/Common/FormFields/Email.ascx" />
        <add tagPrefix="GoldSimForm"  tagName="Organization"              src="/Forms/Common/FormFields/Organization.ascx" />
        <add tagPrefix="GoldSimForm"  tagName="Phone"                     src="/Forms/Common/FormFields/Phone.ascx" />
        <add tagPrefix="GoldSimForm"  tagName="Fax"                       src="/Forms/Common/FormFields/Fax.ascx" />
        <add tagPrefix="GoldSimForm"  tagName="ProductConfiguration"      src="/Forms/Common/FormFields/ProductConfiguration.ascx" />
        <add tagPrefix="GoldSimForm"  tagName="ModuleInterestSelection"   src="/Forms/Common/FormFields/ModuleInterestSelection.ascx" />
        <add tagPrefix="GoldSimForm"  tagName="TouAndNewsletterCheck"     src="/Forms/Common/FormFields/TouAndNewsletterCheck.ascx" />
      </controls>
    </pages>
  </system.web>
</configuration>

