@model TopicViewModel

@{
  Layout = "~/Views/Layout/_Layout.cshtml";
}

@section Head {
  <link rel="stylesheet" type="text/css" href="~/Shared/Styles/Vendor/RedCastor/awesome-foundation6-checkbox.css" />
  <link rel="stylesheet" type="text/css" href="/Shared/Styles/Views/Page.css" />
}

<div class="wrapper decorated">
  <img src="/Images/Baubles/Bauble.Outset.Placeholder.png" alt="*" class="bauble" />
  <section class="panel body decorated">
    @Html.Raw(@Model.Topic.Attributes.Get("Body"))
    <img src="/Images/Baubles/Bauble.Inset.Placeholder.png" alt="*" class="bauble" />
  </section>
</div>

<!--
  Content Type: Page
  View Location: ~/Views/Page/Page.cshtml
-->
