@model Ignia.Topics.Web.Mvc.TopicViewModel

@{
  Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Head {
  <link rel="stylesheet" type="text/css" href="~/Shared/Styles/Vendor/RedCastor/awesome-foundation6-checkbox.css" />
}

<section class="panel body">
  @Html.Raw(HttpUtility.HtmlDecode(@Model.Topic.Attributes.Get("Body")))
</section>

<!--
  Content Type: Page
  View Location: ~/Views/Page/Page.cshtml
-->
